[2013-11-21 14:14] arbus opened #1 "Can't load aglio as a library in windows"
When I try and load it in as a library, the require command fails with the following message:

[code]

However, if I cd into the aglio folder in node_modules and run `npm install && grunt compile`, the module seems to be loading properly.

Is this a coffeescript issue or something to do with windows?

[2013-11-21 19:50] #1 closed, assigned to danielgtaylor

[2013-11-26 05:15] rurounijones opened #2 "Output JSON Schema if present"
Warning: I have never touched node in my life.

Would it be possible to also display the schema as well as the header and body.

I tried updating the _bootstrap-mixins.jade file with

[code]

But that seemed to have no effect.

I have tried converting the .md file using snowcrash directly and the schema section is output.

[2013-11-26 06:37] #2 closed, assigned to nobody

[2013-11-27 16:09] maksimkim opened #3 "Windows Errors & Crashes"
Hello Daniel,

I'm trying to use your project for pretty printing our Blueprint API specs. In the head of master I'm getting the following error:

c:\dev\3dparty\aglio>aglio -i example.md -o output.html
{ code: 2,
  message: 'unexpected list block, expected a group, resource or an action definition, e.g. \'# Group <name>\', \'# <resource name> [<URI>]\' or \'# <HTTP method> <URI>\'',
  location: [

[2013-12-03 15:33] EvgenyGusev opened #5 "Working on windows"
Hi. Maybe i'm doing something wrong, but aglio doesn`t work for me on Windows. Steps:
1.  Install via npm and run

[code]

example.md - example file from https://raw.github.com/danielgtaylor/aglio/master/example.md
3.  Go to http://localhost:3000
4.  Server crashes and what i get in output:

[code]

After removing all content i found that line that causes crash is

[code]

So if i run aglio on emp

[2013-12-03 17:56] #5 closed, assigned to nobody

[2013-12-04 18:27] #3 closed, assigned to nobody

[2013-12-09 04:36] benkraus opened #6 "Sidebar not rendering correctly"
When there is only 1 request defined in a URI template, only the URI template's name is shown in the sidebar, and not the request.

[2013-12-13 12:18] ChristianUlbrich opened #7 "I18n?"
Great piece of software and professionally looking templates. Thank you very much. But what about i18n? Do you have any plans for that? From a quick web search, one possible approach would be using i18next with JADE, as described in [http://rbeere.tumblr.com/post/41212250036/internationalization-with-express-jade-and] and the obviously easier (but IMHO dirtier) option would be to simply translate

[2013-12-14 21:08] #6 closed, assigned to danielgtaylor

[2014-01-13 20:02] Neamar opened #8 "Bug using example.md file"
Hello,
Using the example markdown provided https://raw.github.com/danielgtaylor/aglio/master/example.md and a default global aglio installation, I get this error:

[code]

Am i doing something wrong, or is the example not valid anymore?

[2014-01-13 21:21] Neamar opened #9 "SegFault"
Using following blueprint (which I assumed to be valid, pass on apiary) :

[code]

I get a SEGAULT `[1]    15180 segmentation fault (core dumped)  aglio -i blueprint.md -o doc.html`

When using node code, i get the (more?) detailed information:

[code]

[2014-01-15 15:35] leopoiroux opened #10 "Error : resource model can be specified only for a named resource, name your resource..."
I have this error when I launch "aglio -i input.md -o output.html" (my input.md is your example.md)
I just installed aglio via npm today
Can you help me ?

[code]

[2014-01-29 16:42] ecordell opened #12 "Support for different port?"
It would be nice if there were a way to specify the port through the cli.

[2014-01-29 16:44] #12 closed, assigned to nobody

[2014-02-01 17:32] pmotch opened #13 "URL gets cut off at the right edge of the page"
If the URL is too long, then it gets cut off at the right edge of the page. I don't have a preference for how it gets fixed so long as its visible in some form.

Example below:
![2-1-2014 11-28-33 am](https://f.cloud.github.com/assets/207682/2058246/b0b4ec04-8b66-11e3-9ae8-2569cce5f1bc.png)

[2014-02-01 17:42] pmotch opened #14 "Server preview doesn't work when trying to access from another machine"
Scenario:
1. I'm on a linux server in the cloud (AWS, Rackspace, etc); no firewall, no "security groups" blocking anything inbound or outbound. The aglio rendered HTML is served through Nginx.
2. I run Aglio on the linux server with server preview (e.g. aglio -i example.md --server)
3. On another machine I try to access the preview server (e.g. 1.2.3.4:3000) and it doesn't work (server not found -

[2014-02-05 05:04] lonnieezell opened #16 "Error during install on OS X Mavericks"
As it's trying to install Snowcrash, it ends up with the following errors that completely crash the installation and I'm not sure how to get around it. Any help would be awesome.

[code]

[2014-02-05 20:54] moul opened #17 "Cache assets locally for offline developing"
Do you manage to add this ?

Is using a custom theme with local assets a good alternative for you ?

[2014-02-10 03:08] #16 closed, assigned to nobody

[2014-02-12 16:04] #14 closed, assigned to nobody

[2014-02-12 18:08] #10 closed, assigned to nobody

[2014-02-14 14:38] #8 closed, assigned to danielgtaylor

[2014-02-14 19:37] #9 closed, assigned to nobody

[2014-02-21 19:11] lsmag opened #21 "Same links for all resources within a group"
Hello,

We started using Aglio yesterday, and we noted that all resources within a group have the same link, including its target's ids. For example, considering this input:

    Group Foobar
    ============

    ...

    GET /resources/
    --------------

    ...

    + Response 200 (application/json)

            ...

    GET /resources/?limit={page_limit}
    ---------------------------------

[2014-03-11 12:09] zdne opened #22 "Info: API Blueprint AST Media Types v2.0"
For your information: Breaking dependency change.

As of [Protagonist v0.10.0](https://github.com/apiaryio/protagonist/releases/tag/v0.10.0) the API, or more precisely the structure of the `ast` filed of the result object has been changed to conform to the new (JSON) [AST Media Type v2.0](https://github.com/apiaryio/api-blueprint-ast). An update on you side might be needed when upgrading to the la

[2014-03-11 16:03] philsturgeon opened #23 "Models can only be referenced if defined above"
It seems that resource links for model responses are only usable if they have been defined previously, which can lead to circular dependencies in complex layouts.

It exists, just... later in the file. :)

[2014-03-12 19:11] #23 closed, assigned to danielgtaylor

[2014-03-17 16:18] pedroteixeira opened #24 "Discussion markup in Request payload section"
Hi there,

According to the spec:
https://github.com/apiaryio/api-blueprint/blob/master/API%20Blueprint%20Specification.md#5-payload-section-structure

It should be possible to add some markup to a request before its Headers (for ex). But aglio seems to ignore it, is this a known issue? any hints?

thanks!

[2014-03-18 16:28] #24 closed, assigned to danielgtaylor

[2014-03-18 16:29] danielgtaylor opened #26 "Use hash instead of timestamp for header links"
This should help prevent some of the git commit churning when generating examples.

[2014-03-18 20:36] thj-dk opened #27 "Thoughts about external documents for a more thorough software documentation"
Hello,

In the last few days I've been looking into API Blueprint for describing our APIs and aglio for generating the documentation as HTML. I really like the current approach using the jade template engine and the simplicity of generating the templates from the abstract syntax tree.

I would however like to work on extending aglio to support external documents that can be included as part of the

[2014-03-22 16:26] #13 closed, assigned to danielgtaylor

[2014-03-22 19:13] #26 closed, assigned to nobody

[2014-04-02 01:50] chrisrickard opened #29 "LiveReload?"
Is live reload functionality for the web server on the timeline?
It would be great if the webpage auto refreshed what the page was regenerated.

PS - This is fantastic guys, much love.

[2014-04-08 08:10] #22 closed, assigned to danielgtaylor

[2014-04-21 17:19] rastislavcore opened #31 "Q: Include into existing page"
I use Node and Jade in me application.
Is there any method to include the page directly to me page?
I want get this in one tab menu.
I saw, there is possible create own templates, this cool.
But is there any possibility to parse custom page with custom template?

Thank you

[2014-05-02 12:44] odyssomay opened #33 "Output html that can be opened directly in the browser (without a server)"
It would be really nice for other developers if they could view the api without starting a server. Starting a server creates an extra step that is annoying and a little scary (for other people).

It does seem like the layout I'm using right now (`default-multi`) is working perfectly without a server. The only problem is that there's a huge banner saying `This page may not display correctly when op

[2014-05-07 06:41] agurha opened #34 "coffe-script error"
When using node module. Get error

Cannot find module 'coffee-script']
  code: 'MODULE_NOT_FOUND',

for /aglio/templates/_bootstrap-mixins.jade'.

Maybe just not use coffee and cut out unnecessary dependency? Whats wrong with JS?

[2014-05-07 07:49] #34 closed, assigned to nobody

[2014-05-11 15:30] #31 closed, assigned to danielgtaylor

[2014-05-15 15:27] Elyahou opened #35 "Choices get cuts on long choice list"
Here is an example:

![aglio](https://cloud.githubusercontent.com/assets/5128415/2986526/62dcc918-dc45-11e3-8b30-85dbc6129a3e.png)

[2014-06-03 13:45] Neamar opened #36 "Default content-type"
Using the following code:

[code]

Doing `aglio -i blueprint.md -o endpoints/index.html` (with default template) will render correctly:

![content-type1](https://cloud.githubusercontent.com/assets/536844/3160797/2098f5c4-eb25-11e3-9178-eede7cb1ea46.png)

However, using a custom layout (this one : https://github.com/AnyFetch/developers.anyfetch.com/blob/gh-pages/_layouts/aglio.jade) and `aglio -i b

[2014-06-09 09:32] #36 closed, assigned to danielgtaylor

[2014-06-25 14:37] endragor opened #37 "Navigation layout is broken for long endpoints"
Try rendering this blueprint:

[code]

Here is what you'll get:
![layout_issue](https://cloud.githubusercontent.com/assets/2417849/3386596/0c07742a-fc76-11e3-805a-9f15be7eebbb.png)
It gets worse with more endpoints.

[2014-07-08 08:13] lo1tuma opened #38 "CLI: exit process with correct error code"
The CLI tool just logs errors and warnings to `stderr` and exits the process as normal with exit code `0`.

If you use some CI tool like jenkins, your build will be marked as successful.
The output on jenkins looks like this:

[code]

[2014-07-08 17:38] nicolas-wild opened #39 "Themes: Print CSS for at least one"
It would be brilliant to have at least one theme with a print css.
- table of contents (instead of navigation)
- no more toggle-links and always display sample request/response

That would be such a great help to created PDF documentations out of the md and use it it normal business environments (…where there is always a need to send PDF API Docs to third-party developers).

[2014-07-08 21:02] joshma opened #40 "Support reading md from stdin"
It would be really nice if the aglio command could take in markdown from stdin as opposed to just the `-i` flag. It's useful when incorporating aglio into a larger shell-based pipeline and creating intermediary files is inconvenient.

[2014-07-11 02:06] milieu opened #41 "Examples broken due to malformed links"
The examples listed under the [Example Output](https://github.com/danielgtaylor/aglio#example-output) section do not display correctly through htmlpreview.github.io.

Need to link to the raw content instead of the file itself

[2014-07-21 15:05] suryassk opened #43 "Unable to install aglio"
Hi I am unable to install aglio. I get following error.

 protagonist@0.10.0 install C:\Users\gs1460\AppData\Roaming\npm\node_modules\aglio\node_modules\protagonist
 node-gyp rebuild

:\Users\gs1460\AppData\Roaming\npm\node_modules\aglio\node_modules\protagonist>node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\....\node_modules\node-
uilding the projects in this solution one at a ti

[2014-07-27 15:37] #41 closed, assigned to danielgtaylor

[2014-07-28 22:48] rodneykeeling opened #44 "Multiline header support (upstream)"
When you define an endpoint, then add headers for an example request, if you have `Authorization` headers, the parser will skip them unless they are on one line (which looks poorly formatted)

For example,

[code]

My guess is that the parser looks for a `key: value` pair separated by a colon, and since there's nothing after the colon on the `Authorization:` line and no colons on the following lin

[2014-07-29 02:33] grojguy opened #45 "Overlapping columns in the output html?"
I am getting a funky issue with the way the page is rendered.  The right and left columns are overlapping.  See attached image.  Any ideas what might be causing this and/or how to fix it?   Thanks!

![2014-07-28 19_30_31-global cach http api](https://cloud.githubusercontent.com/assets/3414035/3730046/a23068a0-16c8-11e4-911f-78bd25c104cd.png)

[2014-08-05 16:52] suryassk opened #49 "output not shown in outputfile"
Hi i am using aglio to convert md file to html in windows.

I use :
aglio -i inputfile.md -o outputfile.html

I see the output int the commandline and not in the html.

Can you help me on this.

[2014-08-06 05:33] #38 closed, assigned to danielgtaylor

[2014-08-15 15:54] jgornick opened #52 "Normalize link names for both types of templates."
If you change from a single to multiple page template, the name of the links for groups, resources, and actions also change. It would be nice if those link names were the same across the different types of templates.

It may also be nice to define a way in the markdown to better link to other resources in the document.

[2014-08-16 17:22] jgornick opened #53 "Update default theme to use GitHub Markdown CSS"
Since some of the markdown styles can get a little whacky, it would be nice if there was a clean template style using the GitHub Markdown CSS from the project: https://github.com/sindresorhus/github-markdown-css.

[2014-08-21 16:10] mustela opened #54 "ERR! protagonist@0.10.0 install: `node-gyp rebuild`"
Hi there!

I'm trying to install it, but I'm having an issue:

[code]

Any clue?

[2014-08-22 16:57] #40 closed, assigned to nobody

[2014-08-27 14:46] wkoffel opened #58 "Clarify rendering of action-specific parameters."
Currently, if I specify a URI parameter on my resource, I MUST include all the parameters, even if some are only relevant to a subset of the actions on that resource. (This is an [understood issue](https://github.com/apiaryio/api-blueprint/issues/79) with the specification.)

I'd prefer to have the documentation not repeat the irrelevant parameters when rendering the block for a particular action,

[2014-08-29 18:36] #49 closed, assigned to danielgtaylor

[2014-08-29 18:36] #45 closed, assigned to danielgtaylor

[2014-08-29 18:39] #43 closed, assigned to nobody

[2014-08-29 18:49] #29 closed, assigned to nobody

[2014-08-29 18:49] #37 closed, assigned to danielgtaylor

[2014-08-29 21:24] #35 closed, assigned to nobody

[2014-09-02 15:34] #54 closed, assigned to nobody

[2014-09-05 18:46] mediaholding opened #61 "OS X installation failed at the protagonist@0.12.1 install script"
Hello!

I can not install aglio on OS X 10.9.4.

`sudo npm install -g aglio` output:

[code]

[2014-10-02 10:42] fdurden opened #62 "Rendering Response description"
Based on [this](http://stackoverflow.com/questions/23735745/response-description-and-post-parameters-in-api-blueprint) it should be possible to add a description to a Response without having to add a mime type and still have the comment appear. But this doesn't work in aglio. If I put the mime type I see the comment (and header), if I don't put a mime type I get nothing. Thanx!

[2014-10-03 10:16] pieterjandesmedt opened #63 "Installation hangs on GET component/emitter"
The github repository directory it is looking for doesn't exist anymore...

[code]

[2014-10-13 19:05] twolff-iow opened #65 "Parameter name shown as 0, 1, 2, ..."
I am using the API blueprint preview (v0.2.2) in the Atom editor (v0.136.0) and I have used the following API description for a GET call:

[code]

What I get in the preview window is the following.

[code]

So, instead of the parameter names "ids" and "name", I get 0 and 1. Can you help me what is wrong?

[2014-10-19 15:57] #62 closed, assigned to danielgtaylor

[2014-10-21 06:55] aichholzer opened #68 "GET is being split from the section"
Not really an issue (I think) but rather a question on why this happens. Consider this:

[code]

All sections are nicely rendered in the side menu, something like this:

[code]

There is however a problem, the GET usually requires an ID (GET /product/{product_id}) - which is a different URL. Now, my question is, how can I include the different GET URL in the document so it does still maintain the

[2014-10-21 16:57] #68 closed, assigned to nobody

[2014-10-26 02:00] greatsharp opened #69 "run command error -> aglio -i template_out.md -o template.html"
~$ aglio -i template_out.md -o template.html

What is this errno mean?
Is it template_out.md error or aglio bug?

[2014-10-26 02:08] #69 closed, assigned to nobody

[2014-11-03 17:17] stefanpearson opened #70 "Protagonist causes 'Segmentation fault: 11'"
When running aglio as a node library, it fails when parsing the blueprint using protagonist. Strangely, as a global executable parsing the same output, it works fine.

[code]

Any ideas?

[2014-12-01 09:32] Innercode opened #71 "Aglio outputs nothing"
Hi,

I'm running Ubuntu server 14.04.1 LTS. Installed node via "apt-get install node" and installed aglio via "npm install -g aglio".
Aglio is global available but when I run the command "aglio -i input.md -o test.html" test.html is not created. Also piping ("aglio -i input.md -o -") and "aglio -l" displays nothing.

How can I fix that?

[2014-12-02 08:52] #71 closed, assigned to nobody

[2014-12-02 10:53] tinexw opened #72 "aglio hangs if request body starts with ------------------------------"
If I call aglio with the following it does not return for at least 10 minutes.

[code]

Calling snowcrash directly works.
It used to work with 1.16.1.
It also works if the number of `-`is reduced.

[2014-12-02 17:29] #70 closed, assigned to nobody

[2014-12-02 17:30] #63 closed, assigned to nobody

[2014-12-02 17:31] #61 closed, assigned to nobody

[2014-12-04 13:13] hendrikmaus opened #73 "Support %-escaped values in URI parameters description"
If a parameter list starts with something containing %-escaped values, the parameter list does not show up in the html output - e.g. this will hide the parameter list completely:

[code]

If one or more items containing %-escaped values occur later in the list, they are just omitted - e.g.: this will render a parameter section with only `locale` shown:

[code]

API Blueprint itself supports %-esca

[2014-12-05 15:30] #73 closed, assigned to danielgtaylor

[2014-12-11 19:38] JemiloII opened #74 "Bug: Template Stops Rendering New Updates"
I was editing the _bootstrap-layout.jade to add styles for a form to send ajax/socket test calls to the server. It seems that no matter how many changes I do now, it remains the same. So there is a bug somewhere with a file refusing to update/rewrite.

[2014-12-17 04:28] #74 closed, assigned to danielgtaylor

[2015-01-02 20:38] TeardropInc commented on #12
For anyone searching for this because they didn't notice the options, use `-p` or `--port`

[2015-01-06 02:52] adamgross42 commented on #21
I'm running into this issue as well, would be great to support this.

[2015-01-06 18:32] arvenil commented on #33
+1 on merging those changes into upstream. I was really surprised that I was unable to open generated html without running a webserver.

[2015-01-08 12:35] d4be4st opened #76 "add version to help output"

[2015-01-09 18:25] vincentriemer commented on #17
Any word/updates on this?

[2015-01-12 17:15] redochka opened #77 "iojs/node 0.12.x install issue when building node-gyp"
I am unable to install aglio. See below the interesting part of the output:

[code]

[2015-01-14 11:20] NobodysNightmare opened #78 "Rendering issues for Aglio >= 1.16.2"
Hello,

today I installed aglio on my new machine and it struggled to render a document that worked fine for an existing install of aglio on another machine.

The document in question is: [The OpenProject APIv3 spec](https://github.com/opf/openproject/blob/a3839a19c2e66b2ae879b2f3374003f805660a0a/doc/apiv3-documentation.apib)

When running as a server, I get a short console output and then aglio *

[2015-01-15 18:31] danielgtaylor commented on #78
@NobodysNightmare the given file appears to work for me. I'm not using Windows but I don't think that should matter. Is it possible you are running out of memory on your machine? What if you only render say half the document?

![screen shot 2015-01-15 at 10 28 46 am](https://cloud.githubusercontent.com/assets/106826/5763710/9a88af18-9ca1-11e4-80e8-05db6278583c.png)

[2015-01-19 17:40] danielgtaylor commented on #77
@redochka this looks very similar to https://github.com/apiaryio/protagonist/issues/34

Basically, right now it looks like one of our dependencies (Protagonist) does not work on Node 0.11.x or Io.js.

[2015-01-19 17:44] danielgtaylor commented on #33
There are some changes in the works to make the theme support a bit more flexible, and along with that I'm trying to address a lot of the user feedback like offline support. Part of that process is splitting the theme rendering from the main Aglio binary along with switching to local javascript and CSS. As a side effect and due to some new caching, the new stuff I'm working on is also much faster

[2015-01-19 17:45] danielgtaylor commented on #17
Please see my comment here: https://github.com/danielgtaylor/aglio/issues/33#issuecomment-70533061

[2015-01-19 17:46] danielgtaylor commented on #21
This is on my list of things to address for the theme revamp I'm currently working on. See https://github.com/danielgtaylor/aglio/issues/33#issuecomment-70533061 for more info.

[2015-01-19 17:47] danielgtaylor commented on #78
@NobodysNightmare any update on this?

[2015-01-19 17:52] NobodysNightmare commented on #78
Sorry, had no time to test your proposal. Don't think it is a memory issue... I hope...
 8 GiB of RAM should be enough for everyone :-)

I will test to make the document smaller tomorrow. However, this would not be a viable workaround. The document will tend to become even bigger.

Best regards
Jan

Am 19. Januar 2015 18:47:12 MEZ, schrieb "Daniel G. Taylor" <notifications@github.com>:

--
Diese N

[2015-01-19 18:54] moul commented on #33
Awesome, thanks !

[2015-01-20 09:19] zdne commented on #77
@danielgtaylor @redochka you are indeed correct, the Protagonist does not support the latest changes to node.js / io.js APIs and as such it works only with node 0.11. The tracking issue for it can be found here https://github.com/apiaryio/protagonist/issues/16. I will see what I can do about it ASAP.

[2015-01-20 09:33] NobodysNightmare commented on #78
First of all I have to correct my specs: My machine at work has 12 GiB of physical memory

I did some further tests with aglio 1.17.1 using the following commandline:

[code]

Using my resource monitor and running aglio multiple times I could not see anything pointing to excessive memory usage.
Computers are fast and I did not professionally profile the application, I just had the task manager ope

[2015-01-20 10:13] NobodysNightmare commented on #78
Something about OS'es and specs, all for Aglio 1.17.1

## Failing machines

my machine: Windows 8.1 (12 GiB RAM)
my old machine: Windows 7 (8 GiB RAM)
colleague #1 machine: Windows 8.1 (16 GiB RAM)

## Succeeding machines

colleague #2 machine: Mac OS X (?? GiB RAM)
CI machine: Ubuntu 12.04.5 LTS (12 GiB; virtualized)

[2015-01-20 10:44] odyssomay commented on #33
Sounds good! :+1:

[2015-01-22 09:20] theOne3mind commented on #78
I do have the same behavior (very unstable rendering, works only <20% of attempts.
I'm running the same machine as before the update (Windows 7 with 16GB RAM).
I tried also splitting and using the include-mechanism, didn't work either.

[2015-01-22 17:10] danielgtaylor commented on #78
This is really interesting. Could you try to install these branches and test if they exhibit the same behavior? One is switching back to `marked` for Markdown rendering, the other is moving to `markdown-it` instead of `remarkable`.

[code]

I wish I had a good way to automate the testing on Windows. If you have any ideas, please let me know.

[2015-01-22 20:34] frank-weindel opened #79 "Resource-wide parameters are not shown in all actions"
As mentioned [here](https://github.com/apiaryio/api-blueprint/issues/79):

I'm attempting to use resource parameter definitions to describe parameters that are acceptable in all actions of the resource. However the only time these resource parameters are shown is on actions that do not specify any parameter section.

I'd expect (when rendered) that these parameters either appear alone right under

[2015-01-23 09:37] theOne3mind commented on #78
@danielgtaylor
Tried both branches. Same result unfortuantely.
Do both of them support the include-syntax?
Anything else I could try?

[2015-01-23 10:15] NobodysNightmare commented on #78
Same result for me too, my test command line looks like:

[code]

Notice that the errors already started **in version 1.16.2**, looking at the diff between [1.16.1 and 1.16.2](https://github.com/danielgtaylor/aglio/compare/v1.16.1...v1.16.2) I see that marked was not replaced there (merely its version number was increased).

If I had to guess (remember me knowing near nothing ^^) I would say it co

[2015-01-23 17:39] danielgtaylor commented on #78
Very strange. It does sound like the culprit could be protagonist. Let's try this, then. Clone your fork to your machine and adjust the dependencies until it works:

[code]

If you can figure out the version of protagonist that's causing the problem then I can push the issue upstream. Also, you could try installing the latest protagonist (`npm install protagonist`) and see if that fixes the issue.

[2015-01-26 14:02] theOne3mind commented on #78
Hey guys,
kind of good news here. I was able to pinpoint the problem to the *protagonist* reference.

**What I did**
Basically I tried various combinations before establishing a reproducible behaviour.
Using latest aglio (`npm install aglio`), I manually removed the protagonist directory from node_modules, and tried different versions (`npm install protagonist@0.16.0`).

Latest Aglio with Protagon

[2015-01-26 17:27] danielgtaylor commented on #78
@theOne3mind thanks for the feedback. I've opened an upstream issue with protagonist about this, so let's see what they come back with.

[2015-01-27 06:23] theOne3mind commented on #78
@danielgtaylor you're very welcome! thanks for the support and the awesome product!

[2015-02-04 02:02] martinheidegger opened #80 "Add support for watching changes of jade file."
The current `watch` mode only watches for changes in the blueprint file but it should also watch changes in the jade template (good for template development).

[2015-02-04 02:05] martinheidegger opened #81 "Add support for other static files in watch mode"
Currently when starting in the watch mode other resources  (like images) don't work because they are not served from the server that is started. I read through the code thinking on how to fix it and my recommendation would be to ditch it in favour of https://github.com/tapio/live-server

[2015-02-04 10:45] FrankyBoy opened #82 "Using a template causes error to disappear"
Hi!

I have some faulty doc, which has an unexpected header. If I compile like so ... ```aglio -i docs.md -o index.html```, I get a warning in the console and a document is produced. The message is:

    source name> [<URI>]' or '# <HTTP method> <URI>' (warning code 5)

however if I add a ``` --template default-collapsible``` the error disappears, and no output is generated. I'll try to boil this

[2015-02-07 18:47] dometec opened #83 "Custom template in local dir not found"
I created a template but it can't be found from jade:

[code]

[2015-02-11 23:43] danielgtaylor commented on #80
This is something I've been considering for a while. I do think it's a good idea. One of the questions I have though is how to know which files the template itself may include, e.g. other Jade files or styles/javascript.

[2015-02-11 23:48] danielgtaylor commented on #81
@martinheidegger, how exactly would you use this? Honestly something like [grunt-aglio](https://www.npmjs.com/package/grunt-aglio) along with Grunt's watching abilities might be better?

[2015-02-11 23:48] danielgtaylor commented on #82
@FrankyBoy thanks for the bug report. I'll try to reproduce and track down what's happening.

[2015-02-11 23:54] danielgtaylor commented on #83
@dometec I've had a chance to try this myself and both relative and absolute paths are working for me. Can you tell me more about your setup? What version of Node.js? What operating system? Are you using the latest release of Aglio? Is there anything special about that path on your system?

[2015-02-12 10:38] dometec commented on #83
I daniel, you rigth, below the details:

[code]

Here are some test. The templates is on the same dir of md file:

[dometec@localhost api]$ aglio -t bravodriver -i api.md -o out.html

[dometec@localhost api]$ aglio -t ./bravodriver -i api.md -o out.html

[dometec@localhost api]$ aglio -t /home/dometec/git/OsysTransferFrotend/api/bravodriver -i api.md -o out.html

It work only if I put the template

[2015-02-12 14:15] martinheidegger commented on #81
I think I wasn't clear about the issue:

The server will always [only serve the html file](https://github.com/danielgtaylor/aglio/blob/master/src/bin.coffee#L88) never any of the other static asses. So if you link to an image file in the markdown code the image will not be shown because the server does not return any image.

[2015-02-13 09:12] TUNER88 commented on #39
+1

[2015-02-13 13:40] mitchiru commented on #33
Awesome! Keep up the good work.

[2015-02-16 22:34] Freundschaft commented on #77
same story here on windows 7 pc

[2015-02-17 09:11] zdne commented on #77
Guys sorry about this, we are looking into both v0.11+ (io.js) and Windows support, right now.

[2015-02-18 17:58] switzersc commented on #83
I'm having the same problem. Same node version as dometec (v0.10.33) but on Mac OS Mavericks 10.9.5.

[2015-02-18 18:55] switzersc commented on #83
Nevermind - I realized the problem was _not_ that the template wasn't found in the local directory, but that another file that my local template was _extending_ could not be found (I had a typo in the name).

[2015-02-21 14:58] catesandrew opened #84 "Basic MSON Support in upcoming release"
[Apiary is currently testing new Blueprint Attributes support](https://github.com/apiaryio/api-blueprint/issues/25#issuecomment-66753722) using the MSON syntax. Would supporting the new syntax be as simple as  updating the existing Jade templates? Are there any other considerations, trade offs?

[2015-02-21 16:14] danielgtaylor commented on #84
@catesandrew thanks for the feature request. I've already been playing around with the MSON support, but haven't gotten around to adding it to the templates. Do you have any ideas of how best to render this data? Do you have a sample of how you'd expect it to look?

As an aside, I'm currently working on a handful of theme enhancements and splitting the rendering code out into theme plugins. You ca

[2015-02-21 16:41] catesandrew commented on #84
@danielgtaylor thanks. I will investigate those branches and see if I can come up with something if I get time later this week. I might be able towards end of this week or next. Depends on how fast i get this documentation done for my company's web apis. The MSON is pretty cool nonetheless. Its about time they added that otherwise I was going to jump ship to raml but its not as easy to read as pla

[2015-03-08 07:58] vikhyath opened #85 "file not found error"
Thanks for aglio. I used it a while back it worked fine but when I tried it out today after a fresh "npm install", it seems to have problems.

$> aglio -i example.md -o test.html

fs.js:438
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^
Error: ENOENT, no such file or directory 'example-include.md'
    at Object.fs.openSync (fs.js:438:18)
    at Ob

[2015-03-09 15:02] 3mind- commented on #78
Protagonist 0.17.2 solved the issue for me.

[2015-03-09 23:58] mojotalantikite commented on #77
For anyone looking in the interim, Protagonist has added protagonist-experimental@0.18.7. I just forked aglio and updated to use protagonist-experimental and everything is working fine so far.

[2015-03-10 07:12] zdne commented on #77
For the information: I hope we will release `protagonist-experimental` during the course of this week.

[2015-03-10 10:25] 3mind- commented on #85
@vikhyath do you have example-include.md in the same directory/folder as the example.md ?

[2015-03-10 13:37] garrows opened #86 "iojs and node v0.12.0 support"
Hi,
I'm using io.js `v1.4.3` and I had an error on install.

Also happens with node `v0.12.0`

Node `v0.10.36` works fine though.

[code]

[2015-03-10 15:24] danielgtaylor commented on #86
@garrows, this is a duplicate of #77. According to Apiary, the underlying library I need to support Aglio on iojs and node 0.12.x is being released this week:

https://github.com/danielgtaylor/aglio/issues/77#issuecomment-78005772

I believe they've switched to using [nan](https://www.npmjs.com/package/nan) so that in the future this is much less likely to happen again. It abstracts away many of t

[2015-03-10 15:24] #86 closed

[2015-03-10 15:26] danielgtaylor commented on #85
@vikhyath the example file that ships with Aglio has been updated to include another file as mentioned above. If you want to use the example, you'll need to copy both `example.md` and `example-include.md` into the same folder. Please let me know if you have any other questions.

[2015-03-10 15:28] danielgtaylor commented on #78
@3mind- thanks for confirming the fix. It looks like Protagonist is being updated this week to support iojs/node 0.12 so I'm going to wait for that, then bump dependencies and do another release.

[2015-03-10 21:46] reselbob commented on #86
I get the same error on MAC 10.10.2, Node v0.12.0... driving me nuts

[2015-03-11 13:37] leutrimhusaj opened #87 "Nav buttons doesn't work with own collapsible and multipage theme"
I have created a new theme that is collapsible and supports multipage. (combined the two default templates)

But the navigation links for a specific group can not open the data-target (where all the available api methods are defined).

The Problem is that the containers are marked with an id like "page:test-api-menu" and the link items have a property "data-target="#page_id-api-menu".

Our local f

[2015-03-12 15:29] danielgtaylor commented on #77
I've created an [experimental branch](https://github.com/danielgtaylor/aglio/tree/experimental) and published an experimental version:

[code]

Please use that until protagonist releases a stable version.

[2015-03-13 02:27] kadishmal commented on #34
I'm bitten by this same issue. @agurha would be nice if you shared your JS code.

[2015-03-13 04:51] kadishmal opened #89 "Cannot find module 'coffee-script', ...'stylus'"
Node.js version 0.10.32.

My `package.json`:

    {
        ...
        "aglio": "~1.17.1",
        ...
    }

`test.js`:

    var aglio = require('aglio');

    aglio.render(content, 'default-collapsible', cb);

Shows:

	{
	  "code": "MODULE_NOT_FOUND",
	  "line": 228,
	  "filename": "/openapi/node_modules/aglio/templates/_bootstrap-mixins.jade",
	  "path": "/openapi/node_modules/aglio/templates/

[2015-03-13 05:14] kadishmal commented on #89
Rebuilt the dev docker image which seemed to have been caching the modules. Strange.

[2015-03-14 15:00] lucastan opened #90 "cannot install on Yosemite"
[code]

[2015-03-14 15:26] #90 closed

[2015-03-17 08:32] 3mind- commented on #78
@danielgtaylor I think I have to revert my statement. Although it generates the output file kind of stable locally for me, on the buildserver (Jenkins in this case) it doesn't generate the documentation at all.

Let's hope the new version removes this issue once and for all.

[2015-03-17 13:51] mansona opened #91 "Choices: [object Object]"
I'm using the experimental branch for this because I'm using iojs but when I have the following input

[code]

It produces the following output:
[code]
Image: https://cloudup.com/cIrncLeqghi

I've tried all different formats i could think of for those values (i'm new to api-blueprint) but nothing is working.

Any suggestions?

[2015-03-17 15:00] danielgtaylor commented on #78
@3mind- do you still get the problem on the build server if you use `npm install -g aglio@experimental` instead? That will use Protagonist 0.18.7 as of this writing, which may contain some extra fixes.

[2015-03-17 15:14] danielgtaylor commented on #91
There's an [example](https://raw.githubusercontent.com/danielgtaylor/aglio/master/example.md) that includes a list of choices. Just search the document for the word `sort`.

I'll need to install iojs and test on it. A quick test on Node 0.10 shows that your example **does work**. It's likely a bug related to iojs support or a breaking change in the output of the Blueprint AST produced by the parse

[2015-03-17 15:19] #85 closed

[2015-03-18 02:59] sebastienbonami opened #92 "Verbose mode / logging"
Hi, running aglio with a new version of our blueprint at work hangs indefinitely without any output. Is there a way to have verbosity or is there a log somewhere?

[2015-03-18 03:39] sebastienbonami opened #93 "Problem rendering images from yUML"
Hi, the problem occurs with aglio v1.17.0 (and v1.17.1 also). It doesn't occur with v1.16.2.

##### Line in Markdown file:
[code]

##### HTML outputted with v1.16.2:
[code]

##### HTML outputted with v1.17.0:
[code]

##### Result with v1.16.2:
![image](https://cloud.githubusercontent.com/assets/7561088/6702006/cf031fec-ccfa-11e4-829d-0ed4d88a6dfd.png)

##### Result with v1.17.0:
![image](https://c

[2015-03-18 20:55] sebastienbonami commented on #72
I encountered the same problem. As I see here https://github.com/isagalaev/highlight.js/issues/666#issuecomment-67183866, it would work with highlight.js 8.1.0. How can I just change the version of this dependency in my aglio installation?

[2015-03-20 04:34] mmadson opened #94 "Resource section identifier can not start with a forward slash"
The following doesn't seem to be supported:

[code]

[2015-03-20 16:21] danielgtaylor commented on #92
@sebastienbonami not at the moment, but a new version I'm working on in a branch allows for benchmarking, which prints out information on each step being performed. It will be released in the near future.

Until then, it sounds like this might be related to #72 where you also left a comment. Maybe also #78. Are you on Windows?

[2015-03-20 16:23] danielgtaylor commented on #72
@sebastienbonami just run `npm install highlight.js@8.1.0` inside of the aglio install folder and it will install that specific version. Alternatively you can fork and update the `package.json` file.

[2015-03-20 16:25] danielgtaylor commented on #93
@sebastienbonami have you tried URL-encoding the URL? Those are technically not valid characters. It looks like maybe the `marked` module automatically did this in the past? I'll look into this a bit.

[2015-03-20 16:42] danielgtaylor commented on #94
@mmadison it looks like the entire string is being treated as a URL by the API Blueprint parser. One way to prevent that is by URL-encoding the name, but then Aglio renders out the encoded version. It seems to me that this use case should just be supported by the parser. Let me look into this a big further.

[2015-03-20 17:07] puzrin commented on #93
URLs with spaces should be quoted with `< >` or spaces should be escaped with `\` (see commonmark spec). In current markup link is not recognized and text is rendered as footnotes & sup.

[2015-03-23 17:58] sebastienbonami commented on #72
@danielgtaylor thank you, that's what I was looking for.

[2015-03-23 18:08] sebastienbonami commented on #92
@danielgtaylor ok and my problem was indeed the same as #72 and I installed a previous version of highlish.js so I'm not blocked anymore.

I'm on Ubuntu by the way.

[2015-03-23 18:57] sebastienbonami commented on #93
@danielgtaylor @puzrin thank you, using `< >` works.

[2015-03-23 18:57] #93 closed

[2015-03-24 08:39] zdne commented on #91
@danielgtaylor No, parameters part of the AST should be intact.

To verify I have just tested stable protagonist and experimental one with:

[code]

and as you can see from the diff they are the same (left is the stable version)

![screen shot 2015-03-24 at 9 37 38 am](https://cloud.githubusercontent.com/assets/613617/6798049/a07982ce-d209-11e4-8bae-9b4b7a4f1ee1.png)

[2015-03-24 08:39] 3mind- commented on #78
@danielgtaylor the experimental branch fixed the problem on the build-server.

Out of the last 11 builds, 11 successful documentation generations :+1: :100:

[2015-03-25 15:34] sebastienbonami commented on #93
@danielgtaylor @puzrin I was wondering, do you know a good tool to detect these kind of problems? Like a lint-like behavior.

[2015-03-25 16:46] puzrin commented on #93
@sebastienbonami I've seen [markdownlint](https://github.com/DavidAnson/markdownlint) project in dependencies, but can't say anythings about it.

[2015-03-28 01:03] davidonlaptop opened #95 "Aglio does compile on official Nodejs image"
# Steps to reproduce
[code]

## Detailed error message
[code]

[2015-03-28 01:11] danielgtaylor commented on #95
Try using `aglio@experimental` for node 0.12 support. A new release is
coming soon with full support.

On Fri, Mar 27, 2015, 18:03 David Lauzon <notifications@github.com> wrote:

[2015-03-28 22:50] davidonlaptop commented on #95
Thanks it works with the experimental flag.

FYI. I've published a [public Aglio image](https://registry.hub.docker.com/u/davidonlaptop/aglio/) on the Docker registry. For now, I am using a shrinkwrapped version of Aglio 1.16 (master branch). I've created an 'aglio-experimental' branch to confirm that it works.

[2015-03-29 02:17] gerardobort commented on #81
:+1:

[2015-03-30 14:30] zanerock opened #96 "Error report line counts include count of included files."
Experienced with aglio@experimental installed 2015-03-29.

Whenever I include files, the line count jumps on any errors in the top level file after the include. I assume but have not actually checked that it's counting the lines in the included file.

Great feature by the way.

[2015-03-30 18:01] saltmotor commented on #77
The aglio@experimental branch works for me (Node 0.12.0) currently. Thanks.

[2015-03-31 13:45] joshhornby opened #97 "Errors on install"
When running the command

```sudo npm install -g aglio```

The following happens:

[code]

[2015-03-31 13:53] zdne commented on #77
For your information: We have just released stable [Protagonist v0.19.0](https://github.com/apiaryio/protagonist/releases/tag/v0.19.0) that includes support for io.js and node.js v0.12

[2015-03-31 16:09] danielgtaylor commented on #77
Aglio 1.18.0 is now released which depends on the latest Protagonist release and supports Node 0.12.x and io.js 1.x. Please let me know if you have any other issues.

[2015-03-31 16:09] #77 closed

[2015-03-31 16:10] danielgtaylor commented on #97
@joshhornby one of our dependencies did not support Node.js 0.12 or io.js 1.x, but I have just pushed a new release to use an updated dependency. Please try it again.

[2015-03-31 16:12] danielgtaylor commented on #96
Nice find! I can confirm that this is an issue and we'll need to keep a mapping of source files and line counts in order to find the original location. It should be pretty easy to do, so if someone wants to give it a try feel free, otherwise I'll try to work on this soon.

[2015-03-31 16:13] danielgtaylor commented on #95
@davidonlaptop please have a try today. I've just released 1.18.0 that includes support for Node.js 0.12 and io.js 1.x. Let me know if you run into any other issues.

[2015-03-31 16:13] #95 closed

[2015-03-31 16:15] danielgtaylor commented on #89
The `fsevents` error is no problem (since it's optional and only affect Mac OS X). It seems that we may need to use peer dependencies for these other modules though. I'll look into this and see what I can come up with.

[2015-03-31 20:17] ChrisZieba commented on #97
I'm  having a similar issue after running `npm install`

[code]

package.json:

[code]

[2015-04-01 16:09] dgmike commented on #84
:+1:

[2015-04-01 19:47] mjgp2 commented on #74
This seems to be an issue still on 0.18.0

[2015-04-04 10:01] joshhornby commented on #97
Seems to have been fixed for me :+1:

[2015-04-04 10:01] #97 closed

[2015-04-05 07:57] richardkall commented on #79
+1

[2015-04-05 07:58] richardkall commented on #58
+1 - Any progress on this?

[2015-04-09 14:18] lattmann opened #99 "Input blueprint file cannot be relative or absolute must be in cwd"
Would be nice if the input file could be specified as relative path to the current working directory or absolute path.

Currently this command show the help on windows
`aglio --input src\server\api\Readme.md`
`aglio --input src/server/api/Readme.md`

`aglio@1.18.0`

[2015-04-09 15:20] lattmann commented on #99
Never mind user error. I have not specified the `-s`.

[2015-04-09 15:20] #99 closed

[2015-04-09 23:46] tmenier commented on #78
@danielgtaylor I wish I could say I was having the same luck. I'm on `aglio@experimental` on Windows 8.1 and experiencing all the same pains described herein. Just curious - is your build server running Windows? And is it using Protagonist 0.16.0 or is aglio@experimental with no tweaks/downgrades all it took?

[2015-04-14 12:01] janmisek commented on #74
+1

[2015-04-14 12:26] janmisek commented on #74
This is upstream bug. Using JetBrains WebStorm and i have the issue while in mcedit everything works properly.  upstream bug: https://github.com/paulmillr/chokidar/issues/237

[2015-04-14 12:32] janmisek commented on #74
For now workaround is to pass `{usePolling: true}` to chokidar.

[2015-04-15 14:52] harhoo opened #100 "Having sub navigation for non-resource groups"
I have some introductory text with subheadings, explaining various principles of the API and of the application. In apiary, these subheadings appear in the navigation. Using agilo, they don't. E.g. with the markup

[code]
Then there's nothing in the side navigation. If I do the following:

[code]

I get Introduction in the side navigation. If I do

[code]

It works as I'd like (i.e. Introduction a

[2015-04-15 15:33] davidonlaptop commented on #95
Great, it works!

I'll publish an updated Docker image soon.

[2015-04-15 15:53] harhoo commented on #100
(suspect you would need to pull the markdown out of the 'description' element produced by drafter and use that to (optionally?) produce the navigation, but that's well beyond my jade skills)

[2015-04-15 19:48] davidonlaptop commented on #95
Building... https://registry.hub.docker.com/u/davidonlaptop/aglio/builds_history/168098/

[2015-04-15 21:15] davidonlaptop commented on #95
Done. thanks @danielgtaylor

[2015-04-16 02:12] Quantium commented on #89
Same issue for me

[2015-04-21 08:18] spieker opened #101 "Same response results in same element ID"
![image](https://cloud.githubusercontent.com/assets/306968/7247965/60af0bf2-e80f-11e4-9af7-02a883a5f9e4.png)

"Is forbidden if no auth header is supplied" and "Is forbidden if an invalid session is supplied" are having the same ID on the `LI` element, so the user is unable to open the "Is forbidden if an invalid session is supplied" section.

[2015-04-23 15:26] wyattjoh commented on #84
Any progress on this issue?

[2015-04-23 16:43] adammbalogh opened #102 "Data Structures"
I've just tried a blueprint with Data Structures in it, but aglio couldn't parse that. Do you plan to support Data Structures?

[2015-04-23 18:36] danielgtaylor commented on #102
@adammbalogh this is a new feature of API Blueprint based on [MSON](https://github.com/apiaryio/mson). I plan to add support for it soon.

[2015-04-23 18:41] danielgtaylor commented on #84
@wyattjoh the branches I mentioned above are nearing a releasable state. I still need to add support for pagination to the new theme and have to clean up a few things, but they are getting there. I'm also looking into supporting MSON at the moment. The MSON AST is quite complex, and I'm working with the authors of MSON and API Blueprint on ideas of how to make processing it easier for tool authors

[2015-04-23 18:45] danielgtaylor commented on #102
This is basically the same question as in #84, so I'm going to close this one. Please add any new comments there!

[2015-04-23 18:45] #102 closed

[2015-04-23 20:00] zdne commented on #84
:+1:

[2015-04-28 11:07] onkami commented on #33
I actually wonder why explicit protocol is not used in URLs used in themes. I think the protocol of all these fontawesome and jquery CDNs is pretty much more fixed than the address and version of a library.

[2015-04-28 11:18] onkami opened #103 "Rendeing "attributes" section and Data Structures"
Aglio looks fantastic but I have problems rendering complex cases as such:

I have this file: https://raw.githubusercontent.com/samwiseapi/apiary-samwise/master/apiary.apib

where I got
a) "attributes" sections such as
+ Response 200 (application/json)
    + Attributes (SampleDTO)

b) custom Data Structures such as
(note the SampleProperties which is itself a custom Data Structure)

# Data Structu

[2015-04-28 15:05] maremmle commented on #103
+1
I just happened to miss the attributes as well.

[2015-04-28 16:23] catesandrew commented on #84
:thumbsup, awesome to hear. i have had no free time, sorry for not being able to assist more

[2015-04-28 16:47] zdne commented on #103
Regarding Apiary.io – we are working on full rendering of attributes – MSON. This includes fully interactive ("foldable") tables and rendering of Named Types from Data Structure sections including Data Structures table of content.

[2015-04-29 03:04] jolleon commented on #103
+1
I just started looking into Aglio part of evaluating various API testing and documentation solutions for my company and it looks great but the ability to reuse data structures is critical for my use case.

I'm particularly interested in seeing the Data Structure's "example" values rendered as the response body when the `+ Body` section is missing. This would allow me to DRY my API Blueprint a l

[2015-05-05 13:05] dgmike commented on #84
:+1:

Waiting for this issue…

[2015-05-06 12:32] danielgtaylor commented on #103
I'm working on adding support for attributes and data structures, as well as the generated body and schema from the attributes. This is a high priority item and is next on my todo list.

[2015-05-08 10:31] hankipanky opened #106 "URI template in Action section ignored"
URI templates as specified in an Action section are ignored in the output. Instead the URI from the Resource section is used.

Screenshot using [example 12](https://raw.githubusercontent.com/apiaryio/api-blueprint/master/examples/12.%20Advanced%20Action.md) as input:
![screen shot 2015-05-08 at 12 30 53](https://cloud.githubusercontent.com/assets/1611513/7534768/2052408e-f57e-11e4-992c-754945d2d09

[2015-05-08 12:50] vinkla opened #107 "Custom Pages"
Is there a way to create custom pages for more generic documentation where you just write stuff? Like creating pages that will show up in the navigation without any API requests? Currently solved this by creating a `group`. Though, this only create a header page in the navigation. I would also like to add sub-pages with their own titles. Is this possible to do?

[2015-05-11 21:11] jolleon commented on #103
Great to hear! How far along are you on this?

FWIW I quickly hacked together support for `Attributes` sections in [my fork](https://github.com/jolleon/aglio) (see the [updated example](https://htmlpreview.github.io/?https://raw.githubusercontent.com/jolleon/aglio/master/examples/default.html#tags-and-tagging-long-title-get-one-tag), look at the very last response the body is generated just from t

[2015-05-13 13:41] vertexod commented on #84
:+1:
Waiting for this issue too... :(

[2015-05-13 21:35] danielgtaylor commented on #84
For those interested in following along with upstream developments please see apiaryio/fury.js#16. The idea is to have a more stable, unified, and generally easier to use method of traversing and accessing information about an API instead of the current JSON AST produced by the API Blueprint parser. Once this solidifies a bit, Aglio will be moved to use it and supporting features like MSON will be

[2015-05-15 12:33] chesleybrown opened #109 "Long names in menu overlap icons"
Seems when you have long names in the menu, they overlap the icons. Should either concat or use a more fluid layout that isn't a fixed width. Or both.

![213361418-screen shot 2015-05-15 at 5 22 09 am copy](https://cloud.githubusercontent.com/assets/492166/7652662/6fe08ee2-fae9-11e4-813d-d2be6aa7b329.png)

This screenshot was taken using the `flatly-collapsible` theme.

[2015-05-18 19:01] danielgtaylor commented on #107
@vinkla it isn't possible at the moment unless you write a custom theme. I think that typically you would use some tool like a static site generator to write such extra documentation and then generate the API documentation using the same theme with `aglio`. I can see the appeal of not having to use a separate tool, however. Feel free to propose how this should work using only `aglio`.

[2015-05-19 08:11] vinkla commented on #107
@danielgtaylor Okay, then I know. Thanks!

[2015-05-19 08:11] #107 closed

[2015-05-19 15:45] jsonfry commented on #39
Sadly, I'd love to see this too!

[2015-05-19 15:48] jsonfry commented on #39
If I were to implement this (no promises) any pointers on where to start, just trying to understand jade now...?

[2015-05-21 18:05] zanerock commented on #84
+1 Being able to define a "[fully normalized data model](http://stackoverflow.com/questions/29782461/data-abstraction-in-api-blueprint-aglio)" in API Blueprint + aglio would be huge.

I'd be happy to support (== some funding) development on this, if there's a channel for that which would work best.

[2015-05-25 22:06] whbath commented on #106
This looks to be fixed/merged into master, but pulling from NPM still has the bug? Has a new NPM been published? The package.json shows the same version as in NPM?

[2015-05-25 22:08] whbath commented on #103
+1 Evaluating Blueprint/Apiary and Aglio but being able to document the semantics of the data structure is critical.

[2015-05-26 09:26] hankipanky commented on #106
Thanks for fixing this!

[2015-05-26 09:26] #106 closed

[2015-05-27 09:46] LinusU opened #111 "Sync API"
While not generally recommended there are some use cases which could really use a synchronous api. I think that we should add `.renderSync` which instead of a callback returns the html or throws an error.

This would be dependant on apiaryio/protagonist#69 which is merged but not yet published to npm.

[2015-05-27 11:31] zdne commented on #111
personally I am not really happy with introducing the sync() methods at all – as in protagonist I would love to hear some reasoning behind this...

[2015-05-27 12:03] LinusU commented on #111
I think that the point of asynchronicity in Node.js is to delegate io to the kernel and that is really cool. libuv also provides methods for delegating work onto a background thread, with a default thread-pool of 4 workers.

**Protagonist** is doing 0% io and 100% cpu bound work and because of that it will need the cpu cycles, there is no going away from that. I guess that the decision to send it

[2015-05-27 12:06] LinusU commented on #111
On a side note, I think that I would even more prefer that aglio accepted an AST and didn't depend on `protagonist` at all, but this isn't feasible since aglio is suppose to be out-of-the-box ready to go.

What I think would be cool would be to split aglio up into `aglio` and `aglio-renderer` (or similar). `aglio-renderer` would be responsible for transforming an AST into HTML, and nothing else. `

[2015-05-28 02:04] danielgtaylor commented on #111
@LinusU I'm not opposed to adding a sync API if it's really useful and the upstream libs add one that I can piggyback off of. It also makes testing a little easier for downstream projects.

The point of using threads for CPU-bound tasks is that it will run in a background thread while the main thread will still process events. For a server-side application this is pretty important, because it mean

[2015-05-28 02:18] danielgtaylor commented on #103
Please try installing via `sudo npm install -g aglio@beta` and give it a try. This will install the new theme engine branch, the new default theme and use drafter.js so that your attribute sections get rendered out as the body/schema in responses. I do still plan to render out the attribute sections themselves, but this beta release doesn't do much of that yet.

[2015-05-28 02:18] danielgtaylor commented on #84
Please try installing via `sudo npm install -g aglio@beta` and give it a try. This will install the new theme engine branch, the new default theme and use drafter.js so that your attribute sections get rendered out as the body/schema in responses. I do still plan to render out the attribute sections themselves, but this beta release doesn't do much of that yet.

[2015-05-28 02:26] danielgtaylor commented on #65
This is now fixed in the latest API Blueprint Preview plugin.

[2015-05-28 02:26] #65 closed

[2015-05-28 02:27] danielgtaylor commented on #91
I've confirmed that this is working for me. Please re-open if it is still an issue with the latest versions.

[2015-05-28 02:27] #91 closed

[2015-05-28 04:01] danielgtaylor commented on #106
Sorry I'll publish an updated version within the next day or two, since there are a small handful of changes that need to go out.

[2015-05-31 19:09] maximeaubaret commented on #81
I've made a simple change in #112. This was bugging me as well.

[2015-06-01 13:02] vinodc commented on #91
For anyone who stumbles on this:

I was encountering the same issue. It turned out I was using an out of date bootstrap mixins file with the latest version of aglio. If this is the case, you'd probably want the changes at lines [65](https://github.com/danielgtaylor/aglio/blob/master/templates/_bootstrap-mixins.jade#L65), [43](https://github.com/danielgtaylor/aglio/blob/master/templates/_bootstrap-

[2015-06-01 18:45] danielgtaylor commented on #91
@vinodc yep, unfortunately the AST format produced by the parser chanced, so these lines needed to be updated. I'm working with the API Blueprint team at Apiary to try and prevent such changes in the future.

[2015-06-02 12:42] LinusU commented on #111
@danielgtaylor Sounds good, I can send a pull request as soon as they have published a new release on npm.

I think the problem is that if you render more than 3 blueprints with aglio at the same time it will lock up everything else until it's done, which is something that I think most user aren't aware of. Maybe this isn't such a huge problem, but for users who do know how threads are used in Nod

[2015-06-02 15:10] LinusU commented on #111
@danielgtaylor I see that you switched to `drafter.js` instead of `protagonist` in the beta. There is no reason for drafter.js to have a asynchronous api.

See apiaryio/boutique.js#57

[2015-06-02 18:28] GStipick opened #115 "Add support for outputting the 'compiled' .md file."
Aglio is great since we can use the '  ' feature to help separate resources that get rather large.

The only problem with this is that when trying to find and fix errors that aglio points out in the CLI, we do not have the compiled markdown document that aglio is using as a reference.

If there could be an option for parsing the extension of the outfile [-o outfile] to where if it is a .md it will

[2015-06-02 18:49] danielgtaylor commented on #81
The PR in #112 has been merged and this feature will be in the next release.

[2015-06-02 18:49] #81 closed

[2015-06-02 19:23] danielgtaylor commented on #115
@GStipick I definitely want to add this feature, just haven't gotten around to it yet!

[2015-06-03 20:27] newtonianb opened #117 "The specified procedure could not be found. Module._extensions[extension](this, filename);"
All of a sudden I'm getting an error, I did run an npm update I would guess it's related. Is this known issue?

Windows 8.1
npm : 2.10.1
node: 0.12.4
aglio: 1.18

I get the error just with ``aglio -v``. I did instally python 2.7 and Visual Studio 2013. I had it working before something broke I don't know what

[code]

[2015-06-03 20:33] newtonianb opened #118 "Double back slash during install"
Finished generating code

``
Finished generating code
protagonist.vcxproj -> C:\prj\node_modules\aglio\node_modules\protagonist\build\Release\\protagonist.node``

It shows ``\\protagonist.node``

[2015-06-03 23:01] danielgtaylor commented on #118
@newtonianb does this actually produce an error or is it just an annoyance to see the extra backslash? Either way it seems to be an issue upstream in protagonist.

[2015-06-03 23:03] danielgtaylor commented on #117
@newtonianb can you run `require('protagonist');` in Node.js wherever `aglio` is installed (or alternatively after an `npm install protagonist`)?

[2015-06-04 01:11] newtonianb commented on #118
It seems it installs fine I just noticed the last segment of the path has this double slash. Although I am encountering another issue and don't know if it is related
https://github.com/danielgtaylor/aglio/issues/117#issuecomment-108639676

[2015-06-04 04:06] automata opened #119 "No highlight for unfenced code blocks"
Markdown or other source codes included by
[code]
didn't get highlighted. Ideas?

[2015-06-04 13:03] newtonianb commented on #117
Interesting, so the first run I got
[code]

Then I ran npm install protagonist and then got
[code]

So it seems this dependency doesn't install right with the aglio plugin?

[2015-06-04 13:08] newtonianb commented on #117
On windows though I do

``npm install aglio -g`` everything seems to work fine but then at the end I try ``aglio -v`` and I get

[code]

[2015-06-04 18:45] danielgtaylor commented on #117
@newtonianb very interesting. I'll probably have to set up a VM to try and debug this somehow. Couple questions for you:

1. Do you happen to know which version of protagonist is being installed when you `npm install -g aglio`? It should be in `c:\Program Files\nodejs\node_modules\aglio\node_modules\protagonist\package.json` near the top of the file.
2. Do you get the same behavior if you do `npm

[2015-06-04 18:46] danielgtaylor commented on #118
Alright, I'm going to close this one for now as I don't think this is the problem, but I'll investigate things in the related issue.

[2015-06-04 18:46] #118 closed

[2015-06-04 18:55] danielgtaylor commented on #119
Given the following included file:

[code]

    Some other code:

        var x = 1;
        console.log(x * x);

    Yet more code:

[code]

You get this output:

![screen shot 2015-06-04 at 11 53 46](https://cloud.githubusercontent.com/assets/106826/7991895/69d80f1c-0ab0-11e5-9d37-aed0638ab7f1.png)

So it appears that indented code blocks (without the triple backticks) are not highlighted. I'll

[2015-06-04 23:38] automata commented on #119
Thank you @danielgtaylor, wrapping included files with triple backticks is a good way around. It seems that included files are not highlighted: https://github.com/danielgtaylor/aglio/blob/master/src/main.coffee#L38

[2015-06-04 23:47] newtonianb commented on #117
I just tried reinstalling and here is what it says at the end

[code]

Note during the install I see some read but it's not stopping or showing error at the end so to answer your question.

1. protagonist version ``0.19.6``
2. I just tried running the command and although it seems less red errors appear during install there are still a few and at the end I still get

[code]

Here is a full log out

[2015-06-05 11:52] zdne commented on #111
@LinusU @danielgtaylor for the record: Drafter.js is a temporary solution before we implement Boutique.js functionality in "C++" Drafter.

After that Protagonist will be once again the Node.js binding for the API Blueprint parser (harness).

So please treat everything related to Boutique.js / Drafter.js as an interim solution.

[2015-06-08 10:52] LinusU commented on #111
Protagonist has published a new version `0.20.0` which contains `renderSync`. I've opened #120 which adds it to aglio as well :)

[2015-06-09 23:25] brandon-bethke-neudesic opened #122 "Try it out"
It would be useful to have a "try it out" or "call endpoint" feature. This will allow the users a level of interaction with the documented api.

This feature will:

Call the endpoint as described in the blueprint
Allow editing of: URI parameters, Body and Headers.
Show response from endpoint.

[2015-06-11 16:12] brandon-bethke-neudesic commented on #103
+1 I would also like to see this enhancement implemented.

[2015-06-12 22:10] #101 closed

[2015-06-12 22:12] danielgtaylor commented on #122
@brandon-bethke-neudesic thanks this is definitely a planned feature!

[2015-06-12 22:14] #111 closed

[2015-06-16 21:48] danielgtaylor commented on #76
The latest beta (`npm install -g aglio@beta`) supports version information now.

[2015-06-16 21:48] #76 closed

[2015-06-16 21:49] danielgtaylor commented on #115
This was merged in with #116 and will be in the next release. Closing.

[2015-06-16 21:49] #115 closed

[2015-06-16 21:50] danielgtaylor commented on #21
Please try installing `sudo npm install -g aglio@beta` and let me know if you have the same issues.

[2015-06-18 18:43] nevir opened #124 "Missing styling for PATCH verb"

[2015-06-19 08:05] zdne commented on #124
Hey @nevir can you post a screenshot on how this look like without the styling? Thanks!

[2015-06-19 17:09] wyattjoh commented on #58
This is a major blocker for using aglio to render our documentation. Not sure if this is an issue still with protagonist.

[2015-06-20 09:27] zdne commented on #58
Please help me understand the problem. Is it that Aglio renders all parameters specified in the URI template for every action?

Thus Aglio isn't following:

[2015-06-22 14:59] wyattjoh commented on #58
The issue we're encountering is when we have a set of actions for a resource, say:

[code]

I'd expect to see the following rendered out:

[code]

Where instead I'm getting:

[code]

Which from what I can see from the issues where this is discussed on the spec repo https://github.com/apiaryio/api-blueprint/issues/40#issuecomment-39315181. So I'm not sure if this again is an issue with how protagan

[2015-06-23 10:00] neilcoles commented on #58
I agree with above post and am having the exact same issue. Although not a major blocker for me, it does make the documentation look confusing when parameters that don't apply to certain actions still appear

[2015-06-23 12:13] zdne commented on #58
Thanks @wyattjoh this is not clear to me!

That is correct. The issue is with rendering in Aglio. Albeit, to be honest, the current state of AST makes it somewhat difficult to get it right. I am working towards fixing this on the AST level.

Meanwhile I am reclassifying this as a bug – something that needs fixing. By any chance would you be able to look into this? Thanks!

[2015-06-23 15:43] Chyzwar commented on #58
I have some similar issues.

When I want to declare action usining:
## ValueSet [GET /api/value-sets/{id}]
or
### ValueSet [GET /api/value-sets/{id}]
Aglio do not render anything.

Aglio also do not follow blueprint api format.
# Group Somegorup  - in aglio # Group
# Resource                 -in Aglio ## Resource
## Action                    -in Aglio ### Action
Can someone provide clarification??

[2015-06-23 18:17] nevir commented on #124
![screen shot 2015-06-23 at 11 17 08](https://cloud.githubusercontent.com/assets/41373/8313718/725d6360-1999-11e5-8d0d-c0940bfd2b28.png)

Not the worst, but a bit jarring :)

[2015-06-24 09:10] zdne commented on #58
@Chyzwar

the `## ValueSet [GET /api/value-sets/{id}] ` is fairly new syntax that was just released. And as such I believe it was not accounted for in Aglio just yet.

I believe this is fundamentally different issue that the original one posted here. I would suggest to open another issue – feature request for it.

Regarding

What you mean exactly by this? I see those two tools complementing each o

[2015-06-24 20:18] jfreak53 opened #125 "Multilingual"
I'm looking in the documentation but not finding it. Is there a way to support the internal items in other languages? I would like some of the terms in spanish:
http://cdn.microthosting.com/imgs/Screenshot_at_2015-06-24_14-18-04.png

Like `show` and the other internal terms. I can translate just need to know where and how.

[2015-06-25 12:16] zdne commented on #125
Hey @jfreak53 as far as I know now there is not internationalization in the Aglio at the moment, however let's wait for @danielgtaylor to confirm.

[2015-06-25 18:34] Anahkiasen commented on #103
:+1: for this, would really like this

[2015-06-29 14:38] jonners99 commented on #103
+1 This would be really useful

[2015-06-29 17:43] robbinjanssen commented on #84
I'd like to give this a shot, what would be the best way for me to do this? I've already forked your repo and found out that the [olio-theme](https://github.com/danielgtaylor/aglio/tree/olio-theme) branch contains the theme for the new engine (1. Shouldn't this be a separate repo? 2. It's at version 0.0.5 while the dependency for the aglio beta engine is at 0.0.3, can you update the beta package d

[2015-06-30 08:24] zdne commented on #84
@robbinjanssen – I leave the @danielgtaylor to answer this but for the record: I have suggested to wait with the MSON in Aglio implementation for [MSON refract](https://github.com/refractproject/refract-spec/blob/master/namespaces/mson-namespace.md) to be released in Fury.js. With it it will be much more easier to build the support for MSON instead of hacking against the (complex) MSON AST...

[2015-07-01 00:36] aaronweatherall commented on #103
Hey mate, the beta branch works perfectly rendering the data, but I really need to be able to get collapsible and full-width.. the beta doesn't seem to support this?

[2015-07-01 09:13] robbinjanssen commented on #84
@zdne @danielgtaylor In that case i'll wait for Fury.js, might do some layout stuff already though, see if I can find a proper layout structure to display the attributes.

[2015-07-07 08:36] call-a3 commented on #103
:+1: Looking forward to the upcoming release

[2015-07-07 12:07] danielgtaylor commented on #124
Whoops, good catch. This should be fairly easy to add.

[2015-07-07 12:10] danielgtaylor commented on #58
Thanks for the feedback everyone. I'm going to be looking into fixing this properly.

[2015-07-07 12:12] danielgtaylor commented on #125
This is a duplicate of #7. Please continue discussion there, and I'll close this issue for now. Short answer: no internationalization at the moment. I'm open to the idea, but it should have a good plan in place before we start coding.

[2015-07-07 12:12] #125 closed

[2015-07-07 12:14] danielgtaylor commented on #103
Thanks for the feedback everyone. I've been out on vacation and am now back, so I'm planning to spend some time finishing up the beta and getting it into a stable release.

[2015-07-09 10:49] danielgtaylor commented on #124
This should now be fixed in the latest beta release. Install via `npm install -g aglio@beta`. This will become the next stable release soon.

[2015-07-09 10:51] danielgtaylor commented on #103
@aaronweatherall please try the latest 2.0.0-beta3 that I just released. It includes collapsible nav items and full-width support. The nav collapse feature is now built-in and automatic (based on window height) so there is no longer a commandline parameter to set. The full width option continues to require `--theme-full-width` but also supports `--full-width` for backward compatibility.

[2015-07-10 09:59] danielgtaylor commented on #124
Closing as this has been implemented, there is a way to install and use it with the beta, and it'll be released to stable soon.

[2015-07-10 09:59] #124 closed

[2015-07-10 10:22] danielgtaylor commented on #100
One possible implementation of this would be to pre-render the descriptions and create a hook to add any header anchors that get created as a new attribute on the resource/action/etc. Then, in the template when the navigation is being created, we read this attribute and create the necessary links. Thoughts?

[2015-07-10 12:55] danielgtaylor commented on #109
This is now fixed in the latest olio theme updates. It'll be released shortly.

[2015-07-10 12:55] #109 closed

[2015-07-10 12:56] danielgtaylor commented on #92
You can now use `BENCHMARK=1 aglio ....` and it will print out step and timing information. This should help with debugging problems. Let me know if you would like more logging.

[2015-07-10 12:56] #92 closed

[2015-07-10 13:05] danielgtaylor commented on #33
The latest updates to what is becoming Aglio 2.0.0 now supports this, so I'm going to close the issue. The new release is coming very soon.

[2015-07-10 13:05] #33 closed

[2015-07-10 13:18] danielgtaylor commented on #17
This is mostly implemented in the new theme, so I'm going to close this. The only exception is that fonts are not cached, so you will get whatever system font is installed on your machine instead of the nice fonts. This should be fine for local development offline, then when you go online you'll get the fonts as well.

[2015-07-10 13:18] #17 closed

[2015-07-10 13:32] danielgtaylor commented on #21
Confirmed that this is still an issue with the latest theme. I'll see about fixing this.

[2015-07-10 14:00] danielgtaylor commented on #21
This should now be fixed in the latest theme update to the beta.

[2015-07-10 14:00] #21 closed

[2015-07-10 14:20] danielgtaylor commented on #72
This is now fixed in the new theme, since it limits which formats are attempted for auto-highlighting. Release coming soon but for now it can be installed via `npm install -g aglio@beta`.

[2015-07-10 14:20] #72 closed

[2015-07-13 09:36] robbinjanssen commented on #103
@danielgtaylor No sure if this is related to this issue, but it is related to the theme-branch / beta4 release.

Using beta 4 the olio-theme causes too much load for the browser and makes it unresponsive.
The problem is caused by:
https://github.com/danielgtaylor/aglio/blob/olio-theme/templates/scripts.js#L150
https://github.com/danielgtaylor/aglio/blob/olio-theme/templates/scripts.js#L46-71

We h

[2015-07-13 09:41] danielgtaylor commented on #103
@robbinjanssen intersting. I'd love to get an example blueprint to see the issue myself. It's possible that disabling the initial animation may help solve this issue. Feel free to email it to me via danielgtaylor@gmail.com.

[2015-07-13 09:53] robbinjanssen commented on #103
@danielgtaylor check your mail :-) Again, if there's anything I can do to contribute. Let me know.

[2015-07-13 10:23] danielgtaylor commented on #103
@robbinjanssen sorry about that, it was a bug that I introduced that prevented the page from loading. It is fixed here:

https://github.com/danielgtaylor/aglio/blob/olio-theme/templates/scripts.js#L120

When no good candidates are found to collapse, then we now collapse the largest, remove it from the candidate list and try again. I had run into this issue once before but thought it was a fluke wi

[2015-07-13 10:26] robbinjanssen commented on #103
Thanks!

[2015-07-13 10:37] danielgtaylor commented on #119
This is now implemented in the default theme. Release coming soon.

[2015-07-13 10:37] #119 closed

[2015-07-13 13:24] yellowiscool opened #126 "Parsing error with dash in parameters names [1.18.0]"
Hi,

I want to document an API that have a dash in some parameters names. It looks like aglio (version 1.18.0) has a parsing error which such names.

### My input file

[code]

### What I should get

![2015-07-13 15_18_43-api documentation](https://cloud.githubusercontent.com/assets/45740/8650414/e72c196e-2972-11e5-8184-995090926874.png)

### What I get
![2015-07-13 15_18_58-api documentation](htt

[2015-07-13 14:42] danielgtaylor commented on #126
@yellowiscool the parameters are generally describing some value in the URL, which is defined by a URI template. A URI template only allows a-z, A-Z, 0-9, and _ as valid characters, so you would need to percent-encode the value. The hex value for `-` is `%2D`:

[code]

The latest Aglio beta will render this properly. Install via `npm install -g aglio@beta`!

[2015-07-13 20:15] sheshmantha opened #127 "chopping off last chars in line and adding to next line..."
Hi,
I've just loaded (#newbie) node.js, protagonist and aglio (all downloaded today).  I'm using the example.apib included here and run it using flatly as in `aglio -t flatly -i example.apib -s`.  I do get some warnings on Transformer.coffee -- snip --
[code]
Going to local host port 3000 renders the HTML but somehow the last 2 chars on every line gets "chopped off" and place on the following line

[2015-07-13 23:07] Owumaro commented on #53
Bump, I saw that aglio now allows us to use custom less variables with the default theme (`--theme-variables`). I wanted to use it to create a github-like theme with the default layout.

However the fonts aren't overridable which makes it impossible.

I think you should move the `@base-font`, `@title-font` and `@code-font` variables into the variable less file.

[2015-07-14 07:01] stieizc opened #128 "Action section name overiding Resource section name"
Hi all,
Thank you for making such a great tool!

I found a little issue, I don't know if it's a bug, and don't know if anyone else had found it. I'm new to the blueprint so maybe I'm doing it wrong.

In a Resource Group, if there's an Action section under the resource section, the name of the resource section will be override by the first Action section's name. If there's no Action section, then t

[2015-07-14 08:16] yellowiscool commented on #126
Thank you for the percent-encoded value workaround. In my opinion, the dash character is a common and should be allowed but I understand the parsing issues. Feel free to close the issue.

About the parameter missing from the URI, it's because the API I'm documenting has the parameters in the HTTP headers…

[2015-07-14 09:04] danielgtaylor commented on #126
Glad that it is working for you. I would also like to see it supported, and I could hack in workarounds to Aglio but then when you go to use other API Blueprint tools it would not work as expected. This is just a limitation of the RFC for the time being. Take care!

[2015-07-14 09:04] #126 closed

[2015-07-14 09:08] danielgtaylor commented on #127
@sheshmantha that's very strange. Can you try the latest beta and see if it is still an issue? Use `npm install -g aglio@beta` to install. If it's still a problem, please let me know some more info about your setup: what operating system, browser, etc are you using?

[2015-07-14 09:09] danielgtaylor commented on #53
@Owumaro thanks I meant to move these into the variables files. This will be in the next beta release!

[2015-07-14 09:32] danielgtaylor commented on #128
@stieizc this is a feature called condensed navigation. In Aglio 1.x you can use `--no-condense-nav` to disable it (in Aglio 2.0.0-beta it is `--no-theme-condense-nav`). The way that it works is that it will condense the navigation down to a single item if and only if the resource has only one action. If there are more actions, then no condensing happens.

You can see both in the [example](https:/

[2015-07-14 09:53] danielgtaylor commented on #100
@harhoo this is now implemented in the latest beta. Please give it a try via `npm install -g aglio@beta` and let me know what you think! It works for the API description and resource group descriptions, but not for resources/actions.

[2015-07-14 13:05] stieizc commented on #128
I like your way of leaving an option for turning it off, and condensing the side bar is okay to me.
Personally, I would prefer that the Resource section title (in the red frame) be the original title, and leave the side bar in the condensed style. Currently, the Action section title appears twice in the main area, which is a little bit confusing for me (I spent some time checking the syntax). Mayb

[2015-07-14 13:08] stieizc commented on #128
I notice that with --no-theme-condense-nav (I'm using beta), the Resource section title still gets changed. Is that also a feature?

[2015-07-14 13:39] danielgtaylor commented on #128
@stieizc good point. After looking into this a bit I think you are right and it should only happen in the navigation. I'll fix that for the next beta release today.

[2015-07-14 13:50] danielgtaylor commented on #79
As of bfe113ef1872fff13e5e9b6f8c04a2ba48dfafdd this is now implemented properly in the default theme. You can install the beta via `npm install -g aglio@beta`.

[2015-07-14 13:50] #79 closed

[2015-07-14 13:51] danielgtaylor commented on #100
Closing as this is going into the 2.0 release very soon.

[2015-07-14 13:51] #100 closed

[2015-07-14 13:54] danielgtaylor commented on #58
This should now work as expected in the latest beta. Thanks for the help everyone, and @worldspawn I've given you credit for bfe113ef1872fff13e5e9b6f8c04a2ba48dfafdd. Please try it out and let me know if there are any problems: `npm install -g aglio@beta`. The 2.0 release is coming very soon.

@wkoffel @wyattjoh @neilcoles @Chyzwar

[2015-07-14 13:54] #58 closed

[2015-07-14 13:55] danielgtaylor commented on #53
@Owumaro this is now in the latest beta. I've also tweaked the default blockquote style a little.

[2015-07-14 13:58] Owumaro commented on #53
Thanks, I'll check this out asap

[2015-07-14 21:33] sheshmantha commented on #127
Hi Daniel,
Thanks for reply... I installed the beta rev as you suggested and tried it on Chrome, IE and Firefox.  Still get the same problem.

OS: Windows Enterprise 7 64bit
Chrome: 43.0.2357.132 m
IE: 11.0.9600.17801
firefox: 37.0.2

C:\protagonist\node_modules\protagonist>npm list
protagonist@0.20.1 C:\protagonist\node_modules\protagonist
├── async@0.2.10
├─┬ chai@1.9.2
│ ├── assertion-error@1.0

[2015-07-14 23:58] stieizc commented on #128
Wow so fast, thank you! Look forward to it.

[2015-07-15 08:27] danielgtaylor commented on #128
This should be fixed with the latest beta. Please re-open if you are still having an issue!

[2015-07-15 08:27] #128 closed

[2015-07-15 08:33] danielgtaylor commented on #127
@sheshmantha I've tried Windows 7 and Windows 10 with Internet Explorer 10 and 11 and can't seem to reproduce this. The fact that it happens on all the browsers makes me think maybe it's a font issue or something, but I'm really grasping at straws now. What language is your computer? Can you reproduce this on any other machine? Does this display the same issue:

http://htmlpreview.github.io/?https

[2015-07-15 08:56] danielgtaylor commented on #117
@newtonianb is this still an issue with the latest beta? Can you try `npm install -g aglio@beta` again?

[2015-07-15 09:02] danielgtaylor commented on #103
@robbinjanssen it will now attempt to close as many groups as necessary to display everything on the page. That means some groups may stay open, and the groups it chooses are determined by their height. It will try to close the smallest possible group to fit everything on the screen. If nothing can be closed to fit everything, then the largest item is closed and it tries again, until either it run

[2015-07-15 09:06] robbinjanssen commented on #103
@danielgtaylor that explains :) we're getting a bit offtopic here (maybe a separate issue?) but for the toggling i'd suggest that;
- Look at the currently selected item (#resource-group-action in the URL) and toggle that one open
- If nothing is selected and the items don't fit, toggle the first item(s) open until they no longer fit

Great work on the new engine btw! Can't wait to start developing

[2015-07-15 09:20] danielgtaylor opened #130 "Navigation auto-collapse feature"
This issue is to discuss the new auto-collapse feature of the Olio theme engine. It is pulled from [this discussion](https://github.com/danielgtaylor/aglio/issues/103#issuecomment-120872366) on another issue.

@danielgtaylor wrote:

@robbinjanssen wrote:

Anybody else have any thoughts?

[2015-07-15 09:21] danielgtaylor commented on #103
@robbinjanssen thanks! I've created #130 so let's continue this discussion there.

[2015-07-15 09:23] danielgtaylor commented on #130
The auto-collapse code lives here:

https://github.com/danielgtaylor/aglio/blob/olio-theme/templates/scripts.js#L97

[2015-07-15 10:44] danielgtaylor commented on #89
@kadishmal @Quantium this should be resolved in the latest beta release. Can you try to install via `npm install aglio@beta` and let me know if you still have issues?

[2015-07-15 14:06] sheshmantha commented on #127
ah! that URL you sent works.  The API looks good on the browsers.

I do have Hindi and English configured on my windows system... one curious
thing with installation of node-gyp on Windows (required of Protagonist),
the Windows 7 SDK didn't fully install (
http://www.microsoft.com/en-us/download/details.aspx?id=8279) -- maybe
that's the issue?

I"ve not tried it on another system - but will do tha

[2015-07-15 15:56] yellowiscool opened #131 "Watch included files"
My main file `documentation.apib` contains included files. For example:
``.

Using the current beta  (v2.0.0-beta6), only `documentation.apib` is watched and not `datasets-catalog.md`. It would be nice to also watch for changes the included files.

[2015-07-15 17:16] Chyzwar commented on #58
Thanks :)

2015-07-14 14:54 GMT+01:00 Daniel G. Taylor <notifications@github.com>:

[2015-07-15 21:17] sheshmantha commented on #127
@danielgtaylor -- I've installed on a clean Windows machine and all is well with the matrix!
Thank you
![image](https://cloud.githubusercontent.com/assets/3171978/8710119/6933260c-2b15-11e5-9a7a-655f182a264a.png)

[2015-07-15 21:37] ndonald2 commented on #103
I've been playing with `2.0.0-beta6` and attribute support looks pretty awesome. My only request would be that the individual attribute details are rendered somewhere in a more human-readable way than just in the `Schema` section.

In other words, it would be nice to see something like:

## Source:

[code]

## Result:

### Users

**USER INFO**

\[GET\] `/api/user/{user_id}`    Get User Info

**Res

[2015-07-16 08:11] danielgtaylor commented on #127
@sheshmantha glad to hear you got it working :smile:

[2015-07-16 08:15] robbinjanssen commented on #130
In addition, maybe introduce the following configuration options:

* --theme-nav-collapse=**no**: Do not collapse menus.
* --theme-nav-collapse=**auto**: Do as suggested above. (Default?)
* --theme-nav-collapse=**all**: Collapse all menus.

[2015-07-16 08:15] danielgtaylor commented on #103
@ndonald2 output like that is planned, but it is going to come after the 2.0 release. We are working on a simpler form of the MSON data representation and that will be used to support this feature. Even with the simplification MSON is quite complex (mixins, references, and deeply nested structures come to mind) so it will take a little time to get it right. First priority was making attributes get

[2015-07-16 08:21] danielgtaylor commented on #131
@yellowiscool this [should already be working](https://github.com/danielgtaylor/aglio/blob/master/src/bin.coffee#L118-L124). I just tested and it is working fine on Mac for the `example.apib` included with Aglio. Can you tell me more about the system where it isn't working? What OS? What Node version?

[2015-07-16 08:46] danielgtaylor commented on #130
@robbinjanssen thanks, I think it does make sense to allow people to disable the feature if they want, or collapse all. This will take a bit of development work and is additive, so I'm not going to let it block the 2.0 release.

[2015-07-16 10:42] yellowiscool commented on #131
I restarted Aglio and it works. I included a new file and the new file wasn't watched. It looks like Aglio needs to be restarted to watch the new included files.

Otherwise I use node on windows/cygwin: ` node v0.12.0 - x86_64 Cygwin`

[2015-07-16 13:42] ndonald2 commented on #103
Cool, thanks for the info! And thanks for the awesome project.

[2015-07-16 20:19] sibrus commented on #131
I noticed this behavior too on node v0.12.5 and ubuntu precise (x64). To be a bit more specific, this is what I observe:

Make a folder called `docs`, in it add a blank `main.apib` and run `aglio -i docs/main.apib -s`.

Make any edits to `main.apib` -> refresh happens.

Create a `section1.md` file under `docs` and add `` to my `main.apib` -> refresh happens.

Make any further edits to `section1.md

[2015-07-17 08:38] danielgtaylor commented on #131
Thanks for the explanation and the code sample above. I think ultimately what we want to do is use the `collectPathsSync` function to get all included paths and add any new ones to the watcher, rather than just watching the entire directory (though that's a nice quick workaround).

[2015-07-17 08:39] danielgtaylor commented on #78
I believe this should all be fixed now with the latest few Aglio and Protagonist releases. Let me know if it isn't, and feel free to re-open!

[2015-07-17 08:39] #78 closed

[2015-07-17 08:39] danielgtaylor commented on #117
The 2.0 release is now out as well, so please try `npm install -g aglio`.

[2015-07-17 08:40] danielgtaylor commented on #89
This should now be fixed in the latest stable release, version 2.0. Thanks!

[2015-07-17 08:40] #89 closed

[2015-07-17 08:41] danielgtaylor commented on #87
Thanks for the bug report. Due to various issues the multipage theme has been removed for the 2.0 release, and may be added in again later with an attempt being made to prevent the sort of issues that cropped up with the 1.x multipage template.

[2015-07-17 08:41] #87 closed

[2015-07-17 08:43] danielgtaylor commented on #83
@dometec please try again with Aglio 2.0 and let me know if it's still an issue. It has a couple of fixes related to path handling. Please re-open this issue if it still happens.

[2015-07-17 08:43] #83 closed

[2015-07-17 08:46] danielgtaylor commented on #82
I am unable to reproduce this issue using the newly released Aglio 2.0. All warnings are reported properly. Please give it a try and let me know if you still have problems!

[2015-07-17 08:46] #82 closed

[2015-07-17 08:48] danielgtaylor commented on #84
With the release of Aglio 2.0 we now support MSON being rendered out as JSON bodies and schemas. I'm going to close this issue, and we can track support for rendering MSON as tables/lists in #103.

[2015-07-17 08:48] #84 closed

[2015-07-17 08:50] danielgtaylor commented on #52
The multipage theme has been removed (for now) from the Aglio 2.0 release due to various issues. Please let me know if you'd like to see multipage support in the new theme engine.

[2015-07-17 08:50] #52 closed

[2015-07-17 16:35] danhodkinson opened #132 "--theme-style, --theme-variables confusion"
if i run `sudo aglio --theme-variables theme/my-colors.less -i input.apib -o test.html` then my new theme colors are present in the html file.

However if I then run `sudo aglio --theme-style theme/my-theme.less -i input.apib -o test.html` then the colors revert to the default theme but my style changes occur.

Am I doing something wrong or should I be merging everything in to one file?

[2015-07-20 08:11] danielgtaylor commented on #132
@danhodkinson why not pass both?

`aglio --theme-variables 'theme/my-colors.less' --theme-style 'theme/my-theme.less' -i input.apib -o test.html`

The idea is that the variables are processed first, then the style. The style may make use of the variables, including the default variables (i.e. your variables file appends to it instead of overwriting). I may need to make this more clear in the docum

[2015-07-20 09:28] onatm commented on #127
The problem still remains. Tried on both Windows 8.1 en-us and Mac OSX 10.10.4 en-us.

aglio is installed with `npm install -g aglio`

html output is produced with `aglio -i documentation.apib -o index.html`

and this is the output:

![capture](https://cloud.githubusercontent.com/assets/802299/8773047/e1bc0ffe-2ed9-11e5-836c-12268cfe325c.PNG)

[2015-07-20 09:35] danhodkinson commented on #132
when I run `aglio --theme-style theme/my-theme.less -i input.apib -o new.html` i get the following error:
`>> {"errno":-13,"code":"EACCES","path":"new.html"}` which i presumed was a permissions issue but i've checked them all and they all seem ok to me.

[2015-07-20 09:43] danielgtaylor commented on #127
@onatm does the HTML itself contain the break/newline or is this a styling (CSS) issue? Do you mind pasting the relevant HTML snippet? What happens when you hover over the header? Do you get the permalink fading in to the right of the `o`? Anything else you can tell me to try and help debug this?

[2015-07-20 11:17] onatm commented on #127
@danielgtaylor, it seems there is no problem with styling. When i hover over i can get permalink in to the right of `p` tag.

For further debugging, related html is as follows:

[code]

and also related markdown:

[code]

[2015-07-20 12:07] danielgtaylor commented on #127
@onatm thanks this is really helpful. It does look like a bug. Can you let me know the version of Node you are using and the output of `npm list -g markdown-it markdown-it-anchor protagonist`? You should see something like:

[code]

This might help me to reproduce the issue on my end.

[2015-07-20 13:13] onatm commented on #127
@danielgtaylor the output for `npm list -g markdown-it markdown-it-anchor protagonist` is as follows:

[code]

node version is: `v0.12.5`

[2015-07-20 22:15] rebrendler opened #133 "o $PATH"

[2015-07-21 00:14] tciuro opened #134 "Hyphen not allowed in expressions"
I have the following section:

    ## Some Section [/things/{id}/actions/{non-fatal|with-results}]

Terminal shows the following warning:

    Allowed characters for expressions are A-Z a-z 0-9 _ and percent encoded characters
    (warning code 12)

Why can't an expression contain an hyphen? Replacing them with an underscore looks uglier:

    ## Some Section [/things/{id}/actions/{non_fatal|with_

[2015-07-21 08:17] danielgtaylor commented on #134
@tciuro the [URI template RFC](https://tools.ietf.org/html/rfc6570) disallows certain characters. These must be `%`-encoded. You can try using `non%2Dfatal` instead, and Aglio 2.0+ should render the `-` properly.

[2015-07-21 08:17] #133 closed

[2015-07-21 12:16] zdne commented on #94
Is this related to https://github.com/apiaryio/snowcrash/issues/340 ?

[2015-07-21 17:53] tciuro commented on #134
@danielgtaylor it works... kind of:

1) the hyphen encoded as `%2D` works well
2) The following doesn't show properly well in agile 2.0 (it used to be displayed fine):

    ## Selection [/things/{id}/actions/{non%2Dfatal|with%2Dresults}]

Question: how would I specify the different parameters allows in a query string so aglio renders it properly?

[2015-07-21 17:54] tciuro commented on #134
Also, what happened to the method URI rendering? Before it was colored and not it's bold (rather ugly). Is there a setting I should specify to get the former behavior? Thanks.

[2015-07-21 18:14] tciuro opened #135 "Consider labeling responses when an API returns different payloads"
It would be awesome if an API section could specify more than one response with the same status code and label it to differentiate it.

For example, the following API could return two different payloads based on the parameter used:

    [/things/something{?foo,bar}]

If I call `/things/something?foo=true` it may return:

    { "result": "blah" }

If I call `/things/something?bar="abc"` it may retu

[2015-07-22 06:18] zdne commented on #135
Note this may be a limitation in API Blueprint itself. While it is possible to have multiple responses with the same status code every one should be preceded by a request section.

[2015-07-22 17:30] hperantunes opened #136 "Fails silently sometimes"
Installed on a Windows 7 machine, aglio 2.0.0 will sometimes fail to output an HTML file.

After running several times `aglio -i myfile.apib -o myfile.html` aglio will start silently failing, without any warnings. After a few minutes, it will resume working as expected.

Note: I normally work with the live preview server option running as `aglio -i myfile.apib -s` at the same time.

[2015-07-22 18:27] tciuro commented on #135
@zdne indeed, it's possible and gets rendered properly. Thanks!

[2015-07-22 18:27] #135 closed

[2015-07-22 18:48] tciuro opened #137 "The members section doesn't render encoded hyphens (%2D) and the description is missing"
Check the following snippet:

    + filter (optional, string) ... blah
        + Members
            + non%2Dfoo - description goes here
            + with%2Dbar%2Dresults - description goes here

Rendered results:

![screen shot 2015-07-22 at 11 40 05 am](https://cloud.githubusercontent.com/assets/412899/8833961/70e10b16-3066-11e5-8dff-5218a0f2d37a.png)

The spec seems to imply that each choice c

[2015-07-22 19:09] tciuro commented on #137
I just discovered that if I wrap the string with the hyphen using back ticks, it gets rendered well:

	+ filter (optional,enum[string])
		+ Members
			+ `non-foo` - This is A
			+ `with-bar-results` - This is B

![screen shot 2015-07-22 at 12 05 44 pm](https://cloud.githubusercontent.com/assets/412899/8834607/04c1fa40-306a-11e5-90e2-b4d0d5b1a1b0.png)

Not that `This is A` and `This is B` are not b

[2015-07-23 06:34] danielgtaylor commented on #134
@tciuro parameters defined in the URI template will only show if there is an appropriate parameter defined for the resource or action. For example:

[code]

It looks like there my be a bug in the filtering when %-encoded names are used, which I'll investigate. Thanks for pointing out that the URIs are now bold on some browsers - I'll fix that as well.

[2015-07-23 11:20] it-ony commented on #106
I tried using version 2.0.0 and also 2.0.0-beta6, but the fix doesn't seem to be live yet. Which version do I need to use, or isn't published yet?

[2015-07-23 11:46] it-ony commented on #106
Sorry, I didn't read the issue correctly. The custom template per resource works, but the URI parameters are not evaluated like specified here: https://github.com/apiaryio/api-blueprint/blob/master/API%20Blueprint%20Specification.md#def-uri-templates.

I'll open a issue for this.

[2015-07-23 11:50] it-ony opened #138 "UriTemplate not evaluated correctly"
According to the specification https://github.com/apiaryio/api-blueprint/blob/master/API%20Blueprint%20Specification.md#form-style-query-variable an uri-template like /foo/bar{?a,b} should result in an uri /foo/bar?a=foo&b=bar if the parameters are set to `a=foo` and `b=bar`.

Right now the result looks /foo/bar{?a,b}.

[2015-07-24 07:22] pksunkara commented on #138
@it-ony The URI will look `/foo/bar{?a,b}` in the documentation, but it will look as `/foo/bar?a=foo&b=bar` in the console since the parameters are specific to the console.

[2015-07-24 08:09] danielgtaylor commented on #138
@it-ony the rendered documentation will show the URI template, not its evaluated result. Where are you expecting the evaluated result to be shown?

[2015-07-24 08:41] it-ony commented on #138
@danielgtaylor I was expecting to show it where right now the template is shown, but in an evaluated format.

/foo/bar{?a,b} should just transformed to /foo/bar?a=fo0&b=bar. The values should be taken from the configured parameters, with their default values.

I tried the same api blueprint code at apiary.io and the display it in an evaluated format.

[2015-07-24 08:42] pksunkara commented on #138
In Apiary, the evaluated result will be shown in the console only since parameters are specific to console. The non-evaluated is the one which will be shown in the documentation.

[2015-07-24 08:47] it-ony commented on #138
Ok, what do you think about showing the defaults and also formatting the url? Query parameters shwosn as `{?a,b}` is not common for users reading the documentation. Using an uri template like `/foo/bar?a={a}&b={b}` will help out to show the uri in the documentation correctly, but seems wrong to me according to the specification.

[2015-07-25 10:23] CZechBoY opened #139 "Cannot install via NodeJS"
Hi,
here is npm-debug.log:
http://ulozto.net/xQQ5m9jJ/npm-debug-log

[2015-07-26 21:17] Anahkiasen commented on #103
I'm getting errors in MSON intepretation sometimes but I can't seem to pinpoint why:

[code]

This is rendered as:

[code]

Not sure why, I tried `grant_type: `client_credentials` (string)` but same thing

[2015-07-27 07:43] danielgtaylor commented on #138
@it-ony I like the idea of showing a generated example, but I worry about showing incorrect information. For example:

[code]

Now, you would generate `/frobs?foo=fooString&bar=barString` or something like that, which is **absolutely wrong** and will cause confusion.

[2015-07-27 07:53] it-ony commented on #138
@danielgtaylor Is there a way to define dependencies with the apiblueprint's? As I guess the answer is no, I think the uri just gives you a hint of how to use it. If there are special rules, e.g. parameters cannot be used together such an uri, will help you more then a uri of the scheme /frobs{?foo,bar}.

As this is a GET request, I also ask myself, if there is any valid use-case for mutually excl

[2015-07-27 07:59] pksunkara commented on #139
Can you paste it here itself? Thanks.

[2015-07-27 08:08] danielgtaylor commented on #136
@hperantunes is there any way you can make it consistently fail? If so, please let me know and if it only happens with a specific blueprint you can email it to me.

Are you changing any theme-related files in between runs? (i.e. do you have a custom LESS or CSS or a Jade template?) This could cause a rebuild of cached data, but if it's not the case then there should be zero difference between runs

[2015-07-27 08:22] danielgtaylor commented on #137
@tciuro Thanks for noticing this. I'll be fixing the `%`-encoded display of choices shortly. As for the choice description, the default theme has no way of displaying those at the moment. This may be a feature I look into adding in the future.

[2015-07-27 08:35] danielgtaylor opened #140 "Display parameter choice descriptions if available"
As requested in #137, it would be nice if a set of parameter choices has descriptions that we display them somehow. This is currently not supported in the theme. It may just need to be rendered out into a definition sublist, but we should consider how to display things is only some of the items have descriptions.

[2015-07-27 08:35] #137 closed

[2015-07-27 08:35] #134 closed

[2015-07-27 11:36] kylef commented on #139
Appears protagonist's `node-gyp rebuild` failed, here's the part of log related:

[code]

[2015-07-27 13:39] pksunkara commented on #139
Related to apiaryio/protagonist#35?

[2015-07-27 13:42] kylef commented on #139
That's unrelated, apiaryio/protagonist#35 is regarding a crash when running on windows. This issue is a failure to install protagonist.

[2015-07-27 13:44] pksunkara commented on #139
@kylef Ah missed that. Thanks.

@CZechBoY Can you make sure your python version is 2.6?

[2015-07-27 15:53] CZechBoY commented on #139
@pksunkara my python version is 3.4

[2015-07-27 15:54] pksunkara commented on #139
Can you try it once with 2.7? Thanks.

[2015-07-28 08:45] robbinjanssen commented on #140
Cool, we're using the description for members as well! Looking forward to use it.

A sublist sounds good, I would just ignore the description for the items that don't have one, as long as it all lines out properly. Maybe something like this:

---

![screen shot 2015-07-28 at 10 37 58](https://cloud.githubusercontent.com/assets/120077/8927123/7e078654-3515-11e5-8417-1359f564cab1.png)

Or..

![scree

[2015-07-28 08:51] huiyiqun opened #141 "There is no margin between the overviews and the first resource group"
I have tried to compile apib with latest aglio from github, without any additional arguements except `-i` and `-s`.

It looks strange.

![screenshot_2015-07-28_16-50-30](https://cloud.githubusercontent.com/assets/3468160/8927248/a43daef6-3548-11e5-89f5-25597864f161.png)

[2015-07-28 11:21] danielgtaylor commented on #141
@huiyiqun thanks for reporting this bug! It should be fixed in the latest release of the default theme (the `aglio-theme-olio` package). You can get it by re-installing Aglio, e.g. `npm install -g aglio`.

[2015-07-28 11:21] #141 closed

[2015-07-28 16:39] hperantunes commented on #136
@danielgtaylor I am neither changing any theme-related files not using any custom templates.

My main Blueprint file does not have much content but it does `include` a number of files located in different folders with about 500 lines each.

If I delete the generated html file and run `aglio -i myfile.apib -o myfile.html`, often it will exit with no errors but the html won't be re-created. After a

[2015-07-29 07:28] huiyiqun commented on #141
Thanks. I will try.

[2015-07-30 23:46] tciuro opened #142 "GET requests should not show "empty request message-body (warning code 6)""
Consider the following snippet:

		# Group Some Stuff

		## Retrieve Some Stuff [/something/{id}/foo{?stuff}]

		### Retrieve Some Stuff [GET]

		+ Parameters

		    + id (required, string) ... Some ID.
		    + stuff (optional, boolean) ... Whether to include stuff or not.

		+ Request /something/123/foo

		+ Response 200

		    + Body

		            {
		              "status": true

[2015-07-31 02:12] jk2K opened #143 "<enumeration description n> not display"
My doc
[code]

generated JSON Schema
[code]

Reference: [URI parameters section](https://github.com/apiaryio/api-blueprint/blob/master/API%20Blueprint%20Specification.md#uri-parameters-section)

Why not show enumeration description?

[2015-07-31 07:52] danielgtaylor commented on #142
Confirmed that this is happening, but it's in the parser so I've opened an issue there. You can follow along here:

https://github.com/apiaryio/snowcrash/issues/342

[2015-07-31 07:52] #142 closed

[2015-07-31 07:59] danielgtaylor commented on #143
@jk2K thanks for reporting this issue. Currently, [apiaryio/drafter.js](https://github.com/apiaryio/drafter.js) is the tool used to generate JSON Schema from MSON attributes in a blueprint. This will soon be changing to the C++ implementation of [apiaryio/drafter](https://github.com/apiaryio/drafter), and I'm hoping it will include this feature.

On a related note, Aglio does not yet display MSON

[2015-07-31 08:18] jk2K commented on #143
Thanks a lot

[2015-07-31 16:59] aichholzer opened #144 "Schema is not rendered nicely"
First of all; thank you for aglio, it has made my documentation writing process so much better.
The issue: I am not sure it is actually an issue, maybe I am just missing something, but I have something like this:

[code]

The schema is rendered just fine, but as a one-liner:

[code]

Is it possible to render the schema beautifully? - Something like:

[code]

Please let me know, thank you.

[2015-07-31 19:47] aichholzer commented on #144
Seems to be related to a typo in my document. I am investigating and will update this issue.

[2015-07-31 20:25] #144 closed

[2015-07-31 20:25] aichholzer commented on #144
It was due to bad formatting indeed.

[2015-08-04 12:29] loxy commented on #103
1+

[2015-08-04 20:12] aichholzer opened #145 "Resource signatures are a little messy when rendered"
Consider this extract:

[code]

The resource is defined only once for all methods sharing the same end-point. Newly, this is being rendered as (latest version of aglio and olio theme):

[code]

[code]

Since `POST` does not define any `Parameters` for the request, the two parameters are being removed from the URL, which is actually very nice as it keeps the document much cleaner, but I believe tha

[2015-08-05 09:24] danielgtaylor commented on #145
@aichholzer thanks for discovering this bug. I'll work on fixing it for the next release! :+1:

[2015-08-07 01:07] aichholzer commented on #145
@danielgtaylor most welcome and thank you for the awesome tool!

[2015-08-09 22:39] aichholzer opened #146 "It seems that a 4th level of attributes is failing."
Consider this extract:

[code]

It is being rendered as:

[code]

Any ideas?

Whatever is deeper than level 4, in this case the `game` property, becomes just `undefined`.

[2015-08-09 23:58] pksunkara commented on #146
This might be an issue in drafter.js itself. Need to verify.

[2015-08-10 08:34] Shumkov commented on #103
:+1:

[2015-08-10 16:00] aichholzer commented on #146
Thank you guys.

[2015-08-11 13:25] petr-inmite opened #148 "Use of aggressive cache complicates custom development"
We would like to customize mixins and index page, but every-time we change something in the file, we need to manually clear the cache, since previous file versions are (quite aggressively) cached. It would be nice to add a command-line switch --no-cash (or --flush-cache) so that we can disable cache for the command (or clear the cache in advance).

[2015-08-11 13:27] petr-inmite opened #149 "Parameter for always expanded request / response panels"
It would be nice to allow generating HTML files with expanded (and non-collapsible) requests and responses, so that you can just read the documentation without requiring expanding collapsed documentation items. It could be done by adding a template parameter and fixing the mixins file...

[2015-08-11 13:31] petr-inmite opened #150 "Show debug info on "--verbose""
Currently, --verbose flag is useful only in case of errors. However, it would be nice to give away some verbose information / debug output even with correct files input, such as:

- aglio version
- what files were included from the selected template
- what parameters were set
- what templates were used (filesystem locations)
- what blueprint items were found
- if cache was used + where is the cach

[2015-08-11 13:36] petr-inmite opened #151 "Document what variables are set based on the API Blueprint file"
We would like to write our own templates with custom appearance, but it is slightly cumbersome at this moment due to the fact we need to read all the used variables in example files. While we already managed to workaround the situation, it would be nice to document the features and data that are extracted from the Blueprint file, such as:

- self.api.navItems
- self.api.resourceGroups
- self.api.m

[2015-08-12 08:38] danielgtaylor commented on #150
This is a great idea :+1:

[2015-08-12 08:42] danielgtaylor commented on #151
Just as a heads up, one of the reasons I haven't done much documentation around the AST is that this is something that will get deprecated and I'll be pushing for people to use the new [Refract](https://github.com/refractproject/refract-spec)-based structure when it is ready. Not to worry though, the current AST will stick around for a while to keep supporting existing templates.

[2015-08-12 08:48] danielgtaylor commented on #145
@aichholzer this should now be fixed in the latest release.

[2015-08-12 08:48] #145 closed

[2015-08-12 08:49] danielgtaylor commented on #148
@petr-inmite please try the latest release with the `NOCACHE` environment variable set. You can use `BENCHMARK` to see whether it is recompiling the templates each time:

[code]

[2015-08-12 08:49] #148 closed

[2015-08-12 16:33] aichholzer commented on #145
@danielgtaylor thank you.
**Works perfectly!**

[2015-08-12 20:09] seglo opened #152 "Code blocks (example & schema) don't support text wrapping"
When a line is longer than the width of the code div it does not overflow/wrap on to the next line.  The only way to see the actual text is to copy & paste it out of the HTML document.

![aglio-nowrap](https://cloud.githubusercontent.com/assets/1148412/9235355/4cc814b6-410c-11e5-980a-d0cc311e5de2.PNG)

Is there any way to make this text wrap via configuration or some other means?

[2015-08-12 21:08] jonwurtzler opened #153 "boolean type in Data Structures prevents Request Body"
When I use the boolean type for a field in a Data structure, the generated response no longer has a Body section.

If I have the following:

[code]

It will compile just fine, but the Request Body section will be missing.  Headers and Schema will be there and look just fine.  If I change the boolean type to a number type, the Body section will return.

[2015-08-12 23:05] kylef commented on #153
Hi @jonwurtzler, the sample value you've provided for your `switch` property is a number and not a boolean value.

Simply switching this to be a boolean value such as `true` or `false` should make this work.

[code]

[2015-08-13 13:37] jonwurtzler commented on #153
Sure enough, that works just fine.  I feel rather foolish.

Thank you for the update.

[2015-08-13 13:37] #153 closed

[2015-08-14 09:07] danielgtaylor commented on #152
@seglo thanks for the bug report. If you update to the latest version I've modified the style to add scrollbars automatically. If you would prefer wrapping, you can do something like this:

**my-style.less**
[code]

Then run like so:

[code]

Hope this helps!

[2015-08-14 09:07] #152 closed

[2015-08-14 09:11] danielgtaylor commented on #150
@petr-inmite I've started some of this work. In the latest release, you can now get information about the theme engine, variables, styles, templates, and cache when using the `--verbose` option.

[2015-08-14 13:19] seglo commented on #152
Thanks a lot @danielgtaylor .  Works like a charm.  Impressive response time! :+1:

[2015-08-14 16:46] openreplyuk opened #154 "Maximum call stack size exceeded"
I got a blocking issue that does not allow me to generate html file from apib file.

After executing: $ aglio --theme-full-width -i cart.apib -o cart.html

I got the following error back:

RangeError: Maximum call stack size exceeded
at /usr/local/lib/node_modules/aglio/node_modules/drafter/node_modules/boutique/lib/inspect.js:200:5
at Object.hasAnyMemberSections (/usr/local/lib/node_modules/aglio

[2015-08-17 11:49] zdne commented on #154
This is issue in upstream library "boutique.js" while processing more complex MSON (attributes) structures. It will be resolved by migrating to a new version of API Blueprint parser – Drafter, once it is ready. In the mean time you can increase the node app stack size.

[2015-08-18 08:50] danielgtaylor commented on #154
@openreplyuk see [this StackOverflow question](http://stackoverflow.com/questions/11332422/how-can-i-increase-the-maximum-call-stack-size-in-node-js) on how to increase the node.js stack size. Then you can call Aglio using something like:

[code]

If installed globally, you can use the global symlink to run, e.g. `node --stack-size XXX /usr/local/bin/aglio` or something along those lines.

[2015-08-18 10:08] openreplyuk commented on #154
Thanks.
I struggled to set stack size globally but invoking aglio with an increased stack size for node did the job.

[2015-08-19 00:10] vghelich commented on #148
Setting `NOCACHE` environment variable disables caching of only `.js` files (but not `.css` files, for example). Is there any way to disable caching completely?

[2015-08-19 07:24] loxy commented on #103
The library renders also an JSON Schema, right? Is it possible to attach or rather specify something like a pattern (regex)? Don't found anything on this topic...

[2015-08-19 09:42] benoittgt commented on #103
Like @ndonald2. Our customers are quite lost when they look into json schema to get POST object definitions. Having something like the Uri parameters should be awesome.

For example for the moment with :
[code]

It returns

![image](http://i.imgur.com/pSFA7DR.png)

:open_mouth:

Are they an other existing way to do it ?

[2015-08-20 08:25] danielgtaylor commented on #148
@vghelich are you sure? Please make sure you are using the latest version and set `NOCACHE`, then run with `--verbose` and it should say when it is loading from the cache or when it is generating the asset from scratch.

[2015-08-20 08:28] danielgtaylor commented on #103
@benoittgt I am working on some related projects to try and make this possible in Aglio. We want to show something like the parameters for data structures, but it's a little more complicated. I promise it is something that we are taking very seriously and working on.

[2015-08-20 09:15] benoittgt commented on #103
Thanks a lot @danielgtaylor

[2015-08-20 15:09] obihann opened #155 "Arrays of objects do not render a proper schema despite body being correct"
Basically if I have a data structure called video, and then another structure that includes an array of that base type, the compiled JSON will be valid however the compiled schema will not include any information from the base type.

An example of what I mean is if I have the following blueprint:

[code]

I end up with the following:
JSON:
[code]
Schema:
[code]

[2015-08-20 15:14] obihann commented on #155
Also for reference Drafter renders the following section for videos:

[code]

If it helps I've also included the full output from drafter

[code]

[2015-08-20 15:54] obihann commented on #149
I agree, this would be great!

[2015-08-21 00:39] vghelich commented on #148
Yes. Using aglio@2.0.4 I get the following errors:

1) without NOCACHE: `Error: Could not get template: Error writing cached template file: EACCES, permission denied '/usr/lib/node_modules/aglio/node_modules/aglio-theme-olio/cache/f349087d9467d1db791bf4d8fe3b554c2dd562ac.js'`

2) with NOCACHE: `Error: Could not get CSS: Error writing cached CSS to file: EACCES, permission denied '/usr/lib/node_mod

[2015-08-21 11:40] zdne commented on #155
Hey @obihann this seems like an issue in the dependency of Aglio – the API Blueprint parser (and JSON  Schema renderer). Please bear with as as we are working towards the final version of Attributes (MSON) implementation.

[2015-08-21 13:24] benoittgt opened #156 "Json schema under body response is not correct"
Hello

I'm having a problem. When writing Post/Update documentation. Schema is render below request body (it's ok) but also under body response. And that's not correct. It takes the definition of the attributes written for the request body.

Live demo : http://appaloosa-store.com/api#users-user-post

![image](http://i.imgur.com/wsngn9R.png)

Is it a normal behavior?

[2015-08-21 14:43] zdne commented on #156
@benoittgt I believe this may be related to #155

[2015-08-24 12:17] obihann commented on #155
@zdne Thanks for the reply, so your saying this is a bug with drafter or with your implementation of the JSON that drafter generates? I'm more than happy to help out work to a solution, as I'm using apiary to create an API for a very large product right now and this is causing a bit of a headache for us. Let me know if I can help.

Thanks.

[2015-08-24 12:40] zdne commented on #155
Hey @obihann thanks for being so helpful!

I believe this issue is in [Boutique.js](https://github.com/apiaryio/boutique.js) which is now being deprecated as we are moving towards complete C++ parser / renderer built on top of Data Structure refract tree instead of MSON AST (see explanation here https://github.com/Aconex/drakov/issues/60#issuecomment-134155329).

We are now close to the release of

[2015-08-24 13:00] obihann commented on #155
I am into C++ and would be up for helping. I've already looked a bit into the snow crash and drafter code so if you want I can pitch in, just point me to the correct issues or branch and I can take a look.

[2015-08-24 13:52] zdne commented on #155
Awesome!

Please check https://github.com/apiaryio/drafter/blob/shared/refract/src/Render.cc#L55 this is where the JSON is rendered from parsed MSON. The "parsed MSON" is in the form of [Data Structure Refract](https://github.com/refractproject/refract-spec/blob/master/namespaces/data-structure-namespace.md).

Prior to this "JSON rendering" the refract is expanded in `ExpandRefract` – by that we m

[2015-08-24 15:35] pksunkara commented on #155
@obihann I will be available to chat if you need some help. :smile:

[2015-08-24 15:56] mm-gmbd opened #157 "cannot install on ubuntu"
I'm using VirtualBox and have an installation of Ubuntu 14.04 LTS and cannot install aglio for the life of me (host is Windows 7). I decided to use VirtualBox/Ubuntu because I couldn't get aglio to install on the windows side, and I thought the unix route would be easier, but the installation still fails.

Oddly enough, no `npm-debug.log` is produced, so I've just piped all the output during insta

[2015-08-24 16:08] obihann commented on #155
Thanks @pksunkara, later today I'm going to go through the drafter refactor code some more and then I'm sure I will have some questions.

[2015-08-24 16:17] mm-gmbd commented on #157
Removing `sudo` produced output that looked like everything was going to work, but still ended up failing. In this case, npm-debug.log was generated, but is *massive*. The log is too much to add to this comment (it's past the comment character limit), but I've included the last 5%-10%ish...

[code]

[2015-08-24 16:25] mm-gmbd commented on #157
So, the last line of the log:

[code]

Got me wondering what is at that location. Contents at that directory include one folder, `npm`, with the following contents:

![2015-08-24 12_25_02-ubuntu running - oracle vm virtualbox](https://cloud.githubusercontent.com/assets/3329824/9445653/42c99b44-4a5b-11e5-8008-ca43351cf923.png)

[2015-08-24 16:32] mm-gmbd commented on #157
Last comment proably doesn't matter, the error looks to start on line `36604`

[code]

[2015-08-26 09:09] dredav commented on #139
It works on my side with python 2.7! Thanks
`sudo npm install -g aglio --python=python2.7`

[2015-08-26 21:56] hperantunes commented on #136
Hi @danielgtaylor, this problem persists. And the bigger the HTML file generated (my API is huge), more often the problem described above happens and more difficult is to have Aglio generating the HTML. It still fails silently.

[2015-08-27 00:01] mmadson opened #158 "Is there a way to define variables in the markdown?"
Perhaps this is outside aglio's scope, but I was wondering if there was a way to declare variables in the api blueprint markdown.

[2015-08-27 11:37] zdne commented on #158
@mmadson no, not really. May I ask what would be the use case?

[2015-08-27 19:49] mmadson commented on #158
Our product is distributed a number of different ways under different names. While each distribution has the same web service API it would be great to generate the docs like so:

${product.name} Web Service API
... more blueprint markdown

 aglio -Dproduct.name=LeCoolProduct

[2015-08-27 19:58] kylef commented on #158
You could perhaps use some kind of template language like [Stencil](http://github.com/kylef/Stencil) or  [Jinja2](https://en.wikipedia.org/wiki/Jinja_(template_engine)#Example) to add a preprocessor step to provide additional variable substitution and logic. As such:

[code]

Then to render the template into an API Blueprint:

[code]

You would then pass your templated API Blueprint though your sc

[2015-08-28 12:38] winniehell opened #159 "HTML in headers rendered inconsistently"
Using aglio `2.0.4`, the following
[code]
leads to
![toc](https://cloud.githubusercontent.com/assets/1652293/9546306/f1be92d8-4d91-11e5-90b6-d48b3d0f2995.PNG)
in the table of contents but to
![doc](https://cloud.githubusercontent.com/assets/1652293/9546313/fd2d6a72-4d91-11e5-809b-fe29af159cb8.PNG)
in the document itself.

I'd prefer having the HTML not escaped in the table of contents allowing e.g

[2015-08-28 12:59] winniehell opened #160 "HTML entities are not rendered in group names"
Using aglio `2.0.4`, the following
[code]
leads to
![toc](https://cloud.githubusercontent.com/assets/1652293/9546674/f8417816-4d94-11e5-9f4c-ffc1dc64d7c6.PNG)
![doc](https://cloud.githubusercontent.com/assets/1652293/9546675/fa06ce44-4d94-11e5-8efa-b4df5754fcea.PNG)

[2015-08-30 05:10] sjmueller opened #161 "Implement a three column theme"
Three column layouts are all the rage.  It started with the [stripe api](https://stripe.com/docs/api), then  [readme.io](https://sample-threes.readme.io/v1.0/docs) and others followed suit.  [Apiary.io](http://apiary.io) is currently the only 3 column layout renderer for api blueprint spec, but it is a cloud solution that is more complicated than it needs to be.  Stripe has it nailed, and aglio ne

[2015-08-31 08:25] danielgtaylor commented on #156
@benoittgt this does look like a bug. I'm going to look into it and see if I can track down what is happening.

[2015-08-31 08:32] danielgtaylor commented on #157
This is strange. Can you `npm install drafter` or any other modules (e.g. `npm install jade`)? Is this just a problem with Aglio?

[2015-08-31 08:33] #139 closed

[2015-08-31 08:35] danielgtaylor commented on #158
:+1: to @kylef. I think this is outside the scope of Aglio and should be accomplished with your template language of choice before running through Aglio. @mmadson let me know if you need specific help with this.

[2015-08-31 08:35] #158 closed

[2015-08-31 08:36] danielgtaylor commented on #159
Thanks for catching this!

[2015-08-31 08:37] danielgtaylor commented on #160
Thanks for reporting!

[2015-08-31 08:38] danielgtaylor commented on #161
I've been planning something like this for a long time but haven't had the time to implement it yet. It could definitely be done either as a new layout in the default theme or with a new theme engine. Ideas and mockups are definitely welcome :smile:

[2015-08-31 11:11] danielgtaylor commented on #136
@hperantunes do you have a sample file that fails consistently? I'm still not able to reproduce this unfortunately. Any other help would be appreciated!

[2015-08-31 13:28] winniehell commented on #159
Additionally, the generated anchors may cause problems. I am not sure what a desired behavior would be:

[code]
may lead to `#header-app-foo` or `#header-app`.

For example,
[code]
should clearly be `#header-important-settings` but noone wants
[code]
to become `#header-settings_input_component-settings`.

The second case however may be solved by additional syntax - there is a [CommonMark discussio

[2015-09-01 08:25] danielgtaylor commented on #148
@vghelich ah I think I understand this now. Using `NOCACHE=1` just disables reading of the cache. The caches are still created in case you want to use them later, since the computationally intensive task of compiling the template or CSS is done anyway. It adds minimal overhead to write the file out to disk and then it can be used if you run without the `NOCACHE` option. It looks like what is happe

[2015-09-01 08:27] danielgtaylor commented on #159
I agree that the generated header names with HTML are a difficult problem and I've approached them as best I could. Definitely open to suggestions, but please open a new issue.

The originally reported issue is now fixed in the 1.2.1 release of the Olio theme engine.

[2015-09-01 08:27] #159 closed

[2015-09-01 08:28] danielgtaylor commented on #160
Fixed in the Olio theme 1.2.1 release.

[2015-09-01 08:28] #160 closed

[2015-09-01 19:16] winniehell commented on #160
Thanks, that was fast! :+1: :sparkles:

![toc](https://cloud.githubusercontent.com/assets/1652293/9613899/88e99ba8-50ee-11e5-82ff-785ecb5a3879.png)
![doc](https://cloud.githubusercontent.com/assets/1652293/9613910/9f50d974-50ee-11e5-9447-b969b8ef7185.png)

[2015-09-01 19:31] winniehell commented on #159
This is awesome! :heart:

The following
[code]
now renders like this in the table of contents:
![toc](https://cloud.githubusercontent.com/assets/1652293/9614173/5f87c36e-50f0-11e5-8161-b0257c171e73.png)

So you can now use custom badges very easily. :+1:

Sorry, the second comment was just random thoughts while I was not in office. I'll open another issue.

[2015-09-01 20:50] winniehell opened #162 "Anchors for headers with HTML"
Using aglio `2.0.4` with olio `1.2.1`, the following
[code]
leads to the following HTML
[code]

Though the generated anchors are straight forward, the following seems more natural to me:
[code]
so that you can refer to `Important Stuff` by `#important-stuff` and to `Bar` by `#header-bar`

In my opinion HTML tags and their attributes should be ignored when generating anchors.

[2015-09-01 20:55] winniehell commented on #162
The special case that *content* of HTML tags should not occur in the anchors either like in the following, can wait for special syntax in my opinion:
[code]

There is a [CommonMark discussion] about HTML attributes in Markdown and [kramdown] already supports it.

[CommonMark discussion]: http://talk.commonmark.org/t/consistent-attribute-syntax/272/95
[kramdown]: http://kramdown.gettalong.org/quick

[2015-09-01 21:17] winniehell opened #163 "Group anchors with HTML entities"
Using aglio `2.0.4` with olio `1.2.1`, the following
[code]
leads to the following HTML
[code]

The group anchor is escaped while the other one is not. I think, HTML escaping does not make sense here ([URL encoding] could). I am not sure whether Unicode in anchors is a good idea but I have no better one.

This issue may be related to #160.

[URL encoding]: https://tools.ietf.org/html/rfc2396#secti

[2015-09-01 21:50] coderdave commented on #117
I had the same error also and had to upgrade to 2.0 to fix it.

[2015-09-02 08:22] danielgtaylor commented on #117
Sounds like this has been fixed with the 2.0 release, so I'm going to close the issue. Please let me know if you have other issues!

[2015-09-02 08:22] #117 closed

[2015-09-02 22:05] codeblooded opened #164 "Themes do not work right on mobile"
Zooming causes the Nav column to cover the main content. I like to refer to the docs on the go as an idea pops up
![image](https://cloud.githubusercontent.com/assets/1209285/9645960/dd8148ae-5194-11e5-97fb-67c6022c01d2.png)

[2015-09-04 08:36] danielgtaylor commented on #164
@codeblooded nice catch. I haven't seen this happen on BrowserStack, but I'll try it out and debug on a physical device soon.

[2015-09-10 14:19] obihann commented on #155
Just a poke I haven't forgotten about this.

[2015-09-11 22:41] acoulon99 opened #166 "Update Readme to mention --include-path"
After adding the `--include-path` flag, our aglio implementation broke until after we read the changelog. It would be nice to see a mention of the new flag on the Readme or in another easily visible location.

[2015-09-14 07:19] jk2K opened #167 "When a new release add updated information please"
Just simple introduce the updates

[2015-09-14 09:03] danielgtaylor commented on #167
@jk2K take a look at the [Changelog](https://github.com/danielgtaylor/aglio/blob/master/Changelog.md), which describes all the changes for each release.

[2015-09-14 09:10] jk2K commented on #167
I'm sorry, I didn't notice

[2015-09-14 09:10] #167 closed

[2015-09-14 09:14] #166 closed

[2015-09-14 09:15] danielgtaylor commented on #166
@acoulon99 thanks, I hadn't realized the broken behavior. It is now restored in the 2.1.1 release and I've added some extra documentation around the option. Let me know if there are any other issues!

[2015-09-14 11:54] earnaway opened #168 "Any way to load an external CSS as part of the theme"
If I try to run this:
`aglio.js --theme-style default --theme-style style.css -i file.apib -o output.html`
then it works well with the style.css file being imported
However, I'd like to load an external css file, ie:
`aglio.js --theme-style default --theme-style http://domain.com/style.css -i file.apib -o output.html`
but that fails.
Any chance that could be supported?

[2015-09-14 12:27] danielgtaylor commented on #168
@earnaway is there a reason you can't just download the style before running Aglio? E.g. something like:

[code]

Alternatively, if you do not mind linking to the style directly you can create a small CSS file with an import statement and pass that into Aglio:

[code]

Just note that the `@import` doesn't get replaced - your HTML output will contain that statement and the browser does the fetching

[2015-09-14 15:36] earnaway commented on #168
Hi @danielgtaylor - that would work, however the server I'm testing this on doesn't serve static files or assets, just the root index controller, so can't add any other files, which is why I was hoping to include an external css file directly in the html, like you have:
`@import url("http://domain.com/style.css");`

[2015-09-15 11:09] sangar82 commented on #157
Same issue here!

[2015-09-15 11:21] sangar82 commented on #157
==> Vaprobash:
==> Vaprobash: argv
==> Vaprobash:  "/home/vagrant/.nvm/versions/node/v4.0.0/bin/node" "/home/vagrant/.nvm/versions/node/v4.0.0/bin/npm" "install" "-g" "aglio"
==> Vaprobash: npm
==> Vaprobash:  v2.14.2
==> Vaprobash: npm
==> Vaprobash:
==> Vaprobash: ERR!
==> Vaprobash:
==> Vaprobash: code
==> Vaprobash:  ELIFECYCLE
==> Vaprobash: npm
==> Vaprobash:
==> Vaprobash: ERR!
==> Vaprobas

[2015-09-15 11:24] danielgtaylor commented on #157
@sangar82 Protagonist doesn't support Node.js v4 (or io.js 3.x) yet. You'll need to use Node.js 0.10, 0.12 or io.js 2.x for the time being until we update Nan. The work is underway but is not trivial due to the major version changes. See apiaryio/protagonist#81 for more info.

[2015-09-15 11:28] sangar82 commented on #157
@danielgtaylor Thanks for the quick reply! I try to install a minor version of node...
Thanks!

[2015-09-15 13:07] sangar82 commented on #157
With 0.10 is not working. With 0.12 version works fine!

If someone needs help to install this version, this are the steps I follow to install 0.12:
[code]

[2015-09-15 13:25] sangar82 opened #169 "where is default-multi option?"
Is no longer exist the default-multi option ??

I've seen, in this version we can use themes. Are there some theme equal to the default-multi?

Thanks !!

[2015-09-16 13:55] earnaway opened #170 "Request parameters breaking when examples and copy has underscores"
I've noticed an issue when there are underscores as part of the params in the resources.

Here's an example:
[code]

When running aglio against the above, I get the error:
[code]

But if I remove all the underscores from the "order_by" params and replace it with:
[code]

Then it works!
I think the parser is breaking on underscores as parameters.

Anyone else come across this before?

[2015-09-17 13:27] bikezilla commented on #74
Still an issue.
[code]

[2015-09-17 15:42] OgreSwamp opened #171 "Add command line flag to render "Data Structures""
Data Structures are great for describing data types in JSON bodies / Data Schema sections.
But they are also great as data objects description. It will be great if we can render the whole section "Data types" with object structure and description as tables.

[2015-09-18 04:36] Maxwell2022 commented on #155
+1

[2015-09-18 09:07] danielgtaylor commented on #169
@sangar82 the option was removed in the 2.0 release. As far as I know, there is no theme yet that is similar. I am hard at work on other features (like supporting [MSON](https://github.com/apiaryio/mson#readme)) but would love to see someone contribute more themes!

If you would like to continue using the `default-multi` theme you can downgrade to Aglio 1.x for the time being, e.g. `npm install -g

[2015-09-18 09:07] #169 closed

[2015-09-18 09:11] danielgtaylor commented on #170
@earnaway interesting, this looks like an upstream bug in the parser. I'll try to investigate and see if it's still happening with the latest major release (which Aglio will be moving to in the near future).

[2015-09-18 10:21] earnaway commented on #170
Thanks. Any idea how soon you might be moving the next major release?

[2015-09-18 11:15] danielgtaylor commented on #74
I'm re-opening this issue and will investigate the suggested workarounds.

[2015-09-18 11:32] danielgtaylor commented on #171
@OgreSwamp this is a duplicate of #103 - please leave any new comments there!

I'm working on making this a reality, but it required a lot of (currently ongoing) work in upstream projects first. Don't worry, awesome stuff is on the horizon!

[2015-09-18 11:32] #171 closed

[2015-09-18 12:34] mitsuruog commented on #103
:+1:

[2015-09-18 12:39] danielgtaylor commented on #170
@earnaway the major breaking work on the C++ parser is done now with the release of Drafter 1.0.0 and Protagonist 1.0.0, however there are still some missing features and some bugs that won't break backward compatibility. Those are being worked on now, and the plan is to use an upcoming release of [Fury](https://github.com/apiaryio/fury.js) in Aglio soon. It's at least a few weeks away, but it's g

[2015-09-23 03:22] cong88 opened #172 "Aglio can not run with nodejs v4"
I upgraded nodejs to v4 and aglio stop working. Can you make it compatible with nodejs v4.

Thanks.

This is my error log:

30787 verbose stack Error: protagonist@0.20.1 install: `node-gyp rebuild`
30787 verbose stack Exit status 1
30787 verbose stack     at EventEmitter.<anonymous> (/usr/lib/node_modules/npm/lib/utils/lifecycle.js:233:16)
30787 verbose stack     at emitTwo (events.js:87:13)
30787

[2015-09-23 05:21] jmdacruz commented on #172
This is actually a problem in protagonist, as pointed out in https://github.com/apiaryio/protagonist/issues/91 and in https://github.com/apiaryio/protagonist/issues/81

[2015-09-23 05:35] kentchiu commented on #172
downgrade node version to 0.12.7 works for me

[2015-09-23 09:22] cong88 commented on #172
Thanks guys. need to wait change of protagonist

[2015-09-23 09:22] #172 closed

[2015-09-24 18:38] leokmob opened #173 "Content header information is split arbitrarily. See example"
What I see is that a lot of cases where 1 or two chars at the end of a line are split into a separate paragraph.

This is the apib:

[code]

*** This is HTML:

[code]

Note how Introduction is split into Introducti and on.

[2015-09-24 23:37] jmdacruz commented on #173
Suggestion: You should probably provide the exact aglio command line you are using to generate this (including the output of `aglio --version`) and also uploading the original apib file (not just pasting the content on the description, since there might be encoding problems that are hidden to the naked eye)

[2015-09-25 05:40] leokmob commented on #173
Here is the command:
~/node_modules/aglio/bin/aglio.js -i ~/LocalDev/GIT/MPM/MPM_HealthBook_Server_Workspace/MPM_HealthBook_Server/healthbook-apiary-api-1.md -o ~/Dropbox/CentrosHealth/v2.0/Docs/RawMaterials/healthbook-apiary-api-1-def.html --verbose

Verson:
aglio leo$ ~/node_modules/aglio/bin/aglio.js --version
aglio 2.1.1
olio 1.2.1

[2015-09-25 14:02] danielgtaylor commented on #173
This looks like a duplicate of #127. Still not sure what is causing it or how to fix it unfortunately. Some people have had the issue go away just by doing a clean install or using a different computer. I wish I knew what was causing it. Closing this as a dupe, please continue the discussion at the linked issue.

[2015-09-25 14:02] #173 closed

[2015-09-25 15:55] leokmob commented on #127
I just ran  ~/node_modules/apib2swagger/bin/apib2swagger.js that uses drafter parser and got the same exact issue, so the problem is in the way the code parses the apiblieprint.

[2015-09-25 16:51] seattlevine opened #174 "No support for MSON 'One of'"
Attributes listed under a 'One of' section do not render.
Given:
+ Attributes
    + container - Container for name/reference of pool to use/create.
        + One of
            + itemA: my_item (string) - An item of type A.
            + itemB: my_other_item (string) - An item of type B.
        + itemC: my_third_item (string) - An item of type C.

Only itemC is rendered

[2015-09-25 20:48] voor commented on #157
Having a similar problem, looks like an issue with the installing aglio on Jenkins:

[code]

[2015-09-28 11:36] jvrsantacruz opened #175 "Can't npm install aglio"
Hi,

I can't install aglio via `npm`. I've searched through closed issues both in the aglio and protagonist projects and all these issues seem to have been addressed and fixed several months ago.

[code]
When I try to install aglio via npm, I get the following error:

[code]

I understand there is a high probability that this compile failure is related to my node.js version, if so I have no much k

[2015-09-28 11:42] danielgtaylor commented on #175
@jvrsantacruz one of the dependencies (the API Blueprint parser) does not yet support Node.js 4.x. It is in the process of being updated, but until that is complete you will need to use an older version of Node.js.

[2015-09-28 11:44] danielgtaylor commented on #174
@seattlevine this is a limitation of the [Drafter.js](https://github.com/apiaryio/drafter.js) depedency, which is being replaced by an updated tool that will hopefully fix many of these types of issues. You can already play with the newer output if you take a look at [Protagonist](https://github.com/apiaryio/protagonist) version 1.x, but it'll be at least a few weeks until that output is in Aglio.

[2015-09-28 11:46] danielgtaylor commented on #157
@voor, can you manually run the `scripts/setup-cache.js` script that is in that package? Maybe it is some permissions issue? It writes out cached data so the theme runs significantly faster.

[2015-09-28 13:21] jvrsantacruz commented on #175
I've used [nvm](https://github.com/creationix/nvm) and successfully installed aglio using node v0.12.
Thank you.

[2015-09-28 13:21] #175 closed

[2015-09-28 16:17] seattlevine commented on #174
Great thanks. No problem for us if it's fixed in a few weeks or even months.

[2015-09-29 06:21] gureedo opened #176 "example data sctruture missing in generated html"
example.apib has section with data structure
[code]
And this text is missing in generated HTML file.

[2015-09-29 15:01] voor commented on #157
I'm getting a different error when I try to run it through SSH intead of jenkins.

[code]

[2015-09-29 16:50] mm-gmbd commented on #157
@danielgtaylor, sorry for the very delayed response. I'll try installing some other node packages and get back momentarily...

[2015-09-30 00:20] obihann opened #177 "Implement support for null / nullable fields"
MSON is being updated to include support for null values using a ['nullable'](https://github.com/apiaryio/mson/pull/38) attribute. Apiary should support this.

[2015-09-30 12:04] obihann commented on #155
Mentioning apiaryio/drafter#47 because it seems to be related.

[2015-09-30 13:56] mm-gmbd commented on #157
@danielgtaylor, I was able to install both **drafter** and **jade** (`npm install drafter` and `npm install jade`) without issue.

However, after installing both drafter and jade, I tried installing Aglio once more (`npm install aglio`), and everything worked fine. Using Node v0.10.40. Not sure what the difference is now (I basically haven't used the Ubuntu VM since I opened the issue), but, I gue

[2015-09-30 13:56] #157 closed

[2015-09-30 15:06] voor opened #178 "Fails to install on Jenkins"
This is the continuation of #157 in a new issue, since it specifically deals with Jenkins issues.

Specifically, Jenkins does not have `node` on its path by default, so the following fails:

[code]

[2015-09-30 18:07] wptd opened #179 "Search tool"
Would be great if you can add a search tool like this http://www.tipue.com/search/

[2015-10-02 08:43] danielgtaylor commented on #176
@gureedo this is a duplicate of #103. I am working on displaying data structures in a sane way, but it requires some changes to Aglio's dependencies. It's one of my top priorities at the moment.

[2015-10-02 08:43] #176 closed

[2015-10-02 08:45] danielgtaylor commented on #177
@obihann is there anything specific you would like to see? I'm planning to show tables/trees of data structures and it would include information like whether a property is required or nullable.

[2015-10-02 08:50] danielgtaylor commented on #178
@voor any ideas on how to fix this? The problem is that without this script I have doubts the permissions will be set up properly to allow the Jenkins user to write to the cache later. All your tests will run slower as each time it will have to compile and attempt to write out template/css caches.

[2015-10-02 08:51] danielgtaylor commented on #179
I think that adding some kind of on-page search functionality would be great.

[2015-10-02 12:28] obihann commented on #177
As long as the output follows the specs I think were fine, since they are not yet merged into the official MSON spec, you can find the example [here](https://github.com/obihann/mson/blob/obihann/nullable/examples/nullable.md) as well as rendering examples [here](https://github.com/obihann/mson/blob/obihann/nullable/rendering/nullable.md).

The actual change to the spec will be:

This is going to b

[2015-10-02 16:29] dmtroll opened #180 "Fails to install due to generic Linux error"
Pretty much what the title says. Below is my npm-debug.log, shortened for easier reading.

[code]

[2015-10-05 09:07] danielgtaylor commented on #180
@dmtroll it looks like you are using Node 4.1.1. One of our dependencies ([Protagonist](https://github.com/apiaryio/protagonist)) does not support Node 4.x yet. There is an [in-progress pull request](https://github.com/apiaryio/protagonist/pull/90) to get it working so it should get released soon.

Until then you can downgrade to an earlier version of Node.js.

[2015-10-05 09:08] danielgtaylor commented on #180
Btw, I believe #175 is a duplicate of this issue.

[2015-10-06 13:28] sdomula commented on #178
It works for me with npm version 0.10.40, but not with newer releases.

[2015-10-08 22:43] dsernst commented on #175
You can get around this issue by doing `npm install --save-dev aglio` while on node 0.12, instead of installing it globally. Then invoke it with either `node_modules/.bin/aglio` or just `aglio` from within an `npm run-script`.

As long as the module is compiled while on node 0.12, it still works fine even after switching to `nvm use 4`, because the projects' `node_modules/` don't get blown away.

[2015-10-09 06:15] jvrsantacruz commented on #175
Thanks! I'll do it this way to avoid setting up the environment each time.

[2015-10-13 01:08] nickarnold commented on #155
+1

[2015-10-13 22:34] m-baumgartner commented on #161
This would be a perfect! :thumbsup:

[2015-10-14 17:14] obihann commented on #155
@pksunkara should an issue be created for this in apiary/drafter since it is related to the rendering of JSON?

[2015-10-15 02:39] pksunkara commented on #155
@obihann Isn't this issue about rendering JSON Schema?

[2015-10-15 14:52] obihann commented on #155
@pksunkara I'm not 100% sure on that, the issue is that the JSON schema is not rendered for nested arrays which is very similar (if not identical) to apiaryio/drafter#117 perhaps @zdne can help me pinpoint this better, but I have a feeling it is an issue with drafter and how it expands the MSON prior to render.

[2015-10-15 15:05] pksunkara commented on #155
@obihann We are completely overhauling JSON Schema rendering to be inside C++ Drafter. So, I would treat this issue as a separate one and see if the above change solves this (which I think it would). If it doesn't then we can look into the other drafter issues and see if anything else is also a problem here.

[2015-10-15 15:06] obihann commented on #155
@pksunkara an example I can provide to hopefully prove this theory is if I use your MSON example from apiaryio/drafter#117 I get the following:

## blueprint
[code]

## aglio

### body
[code]

### schema
[code]

So we can see right now that the body is correct but the schema is missing, so if we look at what drafter generates we can see the problem is that drafter itself doesn't generate a schema.

[2015-10-15 15:09] pksunkara commented on #155
Even if apiaryio/drafter#117 is fixed, we will still have the main problem of the JSON schema not being rendered correctly because it is a bug with JSON Schema not expanding `array` property members. Thus, these two should be treated as two separate issues atleast until JSON Schema rendering is finished.

[2015-10-15 15:11] obihann commented on #155
@pksunkara thanks for the reply, that sounds reasonable to me (keeping things separate and solving them individually that is).

So your feeling is that the bug exists when aglio expands the JSON `array` property and its members? How would you suggest testing this and finding a solution since it seems the issue with drafter is still related even if it is not the direct cause?

Thanks again!

[2015-10-15 15:14] pksunkara commented on #155
No, bug exists when JSON Schema is rendered. Current aglio is still using protagonist@0.x which uses boutique.js to render JSON Schema which contains the above bug. Since we are scrapping boutique.js and are going to implement JSON Schema in C++ Drafter, please don't waste your time trying to fix this issue specifically. If you want to, you can contribute by fixing apiaryio/drafter#117

[2015-10-15 15:19] obihann commented on #155
@pksunkara ahhh I was confused because of @43eccc1ba58c97950bacbebce694d74fd1f32124 which hasn't been released yet. I thought we wen't to protagonist 1.x already.

I can help on apiaryio/drafter#117 but I will need a bit of assistance getting started on it, I've been looking into it and I see the differences when `refract/RenderJSONVisitor.cc` renders the serialized items however I'm not sure wher

[2015-10-15 20:44] danielgtaylor commented on #155
@obihann I did switch `master` over to using protagonist@1.x so people can start to play with it but I don't want to release it just yet. I'll be rolling a new release once a bunch of upstream drafter bugs are fixed (and maybe after we have JSON-Schema support). Hope that makes sense.

[2015-10-19 08:02] m-baumgartner opened #181 "Request parameters completely broken"
Request parameters aren't shown anymore.

Steps to reproduce :
* Git clone the current repo
* Execute `aglio` on the current example.apib file (in my case using the docker image)
* Host it (in my case using a python `Simplehttpserver` on my os x env)

No parameters details are displayed.

[2015-10-19 14:56] kylef commented on #181
@m-baumgartner Could you please clary which commit or release of Aglio you are using?

Thanks.

[2015-10-19 16:14] m-baumgartner commented on #181
Hm, apparently the [dockerimage](https://github.com/davidonlaptop/docker-aglio/blob/v1.18.0/aglio-1.18/Dockerfile) i'm using is targeting `aglio@1.18.0` This might be the source. I'll try with aglio@latest

[2015-10-19 18:25] m-baumgartner commented on #181
Much better indeed :). Sorry

[2015-10-19 18:25] #181 closed

[2015-10-22 15:19] ye opened #183 "Error: Module version mismatch. Expected 46, got 14."
It seems that Aglio is not compatible with the latest node.js due its dependency lib `protagonist` and `drafter` are not compatible with the latest version of node.

Got this after upgrading node.js to `4.2.1`

[code]

[2015-10-22 17:39] danielgtaylor commented on #183
@ye we are working on pushing a new release shortly that will support 3.x and 4.x. The fix (upgrading the `nan` library) is already complete, it is just waiting on a release.

[2015-10-22 20:29] ye commented on #183
@danielgtaylor thanks for the update!

[2015-10-24 23:30] humanjack commented on #172
@cong88  "Protagonist 1.1.0 now supports Node 3 and Node 4."
https://github.com/apiaryio/protagonist/releases/tag/1.1.0
You can open this issue again

[2015-10-25 21:42] kylef commented on #172
@humanjack Aglio master already pins to ^1.0.0 of protagonist so Aglio (master) will already work with this version of Protagonist.

[2015-10-26 17:09] artlogic commented on #183
Protagonist has pushed 1.1.1 which compiles on node 4. What's the ETA for the next aglio release?

[2015-10-26 17:10] danielgtaylor commented on #183
@artlogic I'm working on it today, just had to get Protagonist 1.1.1 out first to fix a bug! :smile:

[2015-10-26 17:14] artlogic commented on #183
@danielgtaylor thanks for the update!

[2015-10-26 20:07] danielgtaylor commented on #183
@artlogic version 2.2.0 is now released which supports Node.js 3.x and 4.x. Please note, it works with the new Protagonist, which itself is based on the new Drafter that does not yet generate JSON Schema from MSON and may contain some other MSON-related bugs. We are hard at work fixing them in upcoming backward-compatible releases!

[2015-10-26 20:07] #183 closed

[2015-10-26 20:13] danielgtaylor commented on #180
@dmtroll Node.js 4.x should now work with the latest release!

[2015-10-26 20:13] #180 closed

[2015-10-26 20:14] danielgtaylor commented on #175
@jvrsantacruz Node.js 4.x should now be supported in the latest Aglio release!

[2015-10-26 20:15] danielgtaylor commented on #154
@openreplyuk the latest release of Aglio 2.2.0 uses Protagonist+Drafter instead of Boutique.js, so it should no longer run into this issue and you can remove any custom logic to set the stack size!

[2015-10-26 20:15] #154 closed

[2015-10-26 22:04] danielgtaylor commented on #172
@cong88 @humanjack @jmdacruz @kentchiu @kadishmal Aglio 2.2.0 now supports Node.js 4.x, so please give it another try!

[2015-10-26 22:24] artlogic commented on #183
@danielgtaylor thanks for all your hard work on this!

[2015-10-26 22:33] splodingsocks commented on #183
I agree, thanks!

[2015-10-26 22:38] artlogic commented on #183
@danielgtaylor one more thing - where would I be able to find information about the timeline for supporting MSON in protagonist? Is there a list of blocking issues?

[2015-10-27 10:33] m-baumgartner opened #186 "Re-introduce multi-page themes"
Although I know building new themes is not the top priority right now I feel like leaving a discussion open might help.
I did like the `aglio@1` multi paged themes. I think it gave a cleaner view to focus on a specific ressources.
One-pagers can be painful and lack readability when you have dozens of ressources.

[2015-10-27 11:02] kentchiu commented on #186
:+1:

[2015-10-27 14:14] ye commented on #183
@danielgtaylor thank you!

[2015-10-27 15:04] danielgtaylor commented on #186
I agree that it would be nice. Some things to consider if anybody wants to look into this:

* What current technologies would you use? Knockout.js may not be the best choice today.
* How would you handle the case where I publish a single page layout, people bookmark links to a specific resource/action, then I decide instead I want to publish a multi-page layout. Do the existing bookmark links just

[2015-10-27 16:20] kylef commented on #183
@artlogic Protagonist is a wrapper around the [Drafter C++ library](https://github.com/apiaryio/drafter) so you can look into their for a list of known issues.

We have a [2.0.0 milestone](https://github.com/apiaryio/drafter/milestones/2.0.0) which shows all of the known issues we are working though. After that our intention is to work on JSON Schema support inside Drafter.

As for a timeline, we

[2015-10-27 17:50] m-baumgartner opened #187 "Image content"
What about image content.
I'm aware that images are not part of the API Blueprint description format as they do not describe an API. I'd like one of the themes to include a customizable logo.

[2015-10-28 00:37] artlogic commented on #183
@kylef thanks for taking the time to give a status update. I appreciate it.

[2015-10-29 00:11] danielgtaylor commented on #187
@m-baumgartner can you elaborate on this? You can include an image in any of the resource group / resource / action / etc descriptions with plain markdown. Do you specifically want a customizable image outside of the descriptions (I'm guessing as a header or something)?

[2015-10-29 00:16] danielgtaylor commented on #138
@it-ony I've been working on an implementation of this idea. I don't think the mutually exclusive options should be a blocker for now since this has the potential to help a lot of people with little or no URI template experience. Example of what I'm working on for the next release:

<img width="588" alt="screen shot 2015-10-28 at 17 14 33" src="https://cloud.githubusercontent.com/assets/106826/108

[2015-10-29 00:30] danielgtaylor commented on #161
@sjmueller @m-baumgartner I've been working on something for this over the past few days. What do you guys think of this?

<img width="1107" alt="screen shot 2015-10-28 at 17 15 03" src="https://cloud.githubusercontent.com/assets/106826/10806952/c525704e-7d97-11e5-92a6-5905642d45f5.png">

It's kind of a mashup of Stripe, ReadMe.io and Apiary. In the future the MSON attribute descriptions will go u

[2015-10-29 07:36] it-ony commented on #138
Pretty cool!

[2015-10-29 08:40] m-baumgartner commented on #187
You're guessing right.
I'm thinking about a header image, your project's/company's logo to make your documentation identifiable.
I think Travis-ci's docs are a good example of what i'm looking for : http://docs.travis-ci.com/api/

[2015-10-29 08:55] m-baumgartner commented on #161
That looks awesome already !
MSON attributes will really help you're right.
Regarding cURL, Node, Python (ruby?) examples :
* Is there some way to generate those snippets dynamically ?
* Do you think about language-related syntax coloration ?

Great work, i'm looking forward to use this !

[2015-10-30 14:42] robbinjanssen commented on #155
@danielgtaylor @zdne I might have a related issue, however this time the body is not rendered correctly, see this example:

Using aglio:
[code]

[code]

This results in the following body:
[code]

I don't really like the fact that my data structure order of appearance is changed as well (but that's something different)

What I expect:

[code]

[2015-10-30 15:06] ye commented on #183
Looks like `node` has just been updated to `5.0.0` yesterday. Sigh...

https://github.com/nodejs/node/blob/v5.0.0/CHANGELOG.md

[2015-10-30 17:07] danielgtaylor commented on #183
@ye I've been using Node.js 5.0.0 since yesterday with Aglio and it is working fine for me. I just had to reinstall Aglio because of the compiled dependencies (same issue everytime you switch major versions). What specifically is the problem you are seeing?

[2015-10-30 22:53] danielgtaylor commented on #138
This is now released in olio-theme-1.3.0. Please let me know if you find any problems with it!

[2015-10-30 22:53] #138 closed

[2015-10-30 22:56] danielgtaylor commented on #161
@m-baumgartner this is now released with olio-theme-1.3.0 so please give it a try and let me know what you think! Be sure to try out the new `streak` color scheme, which you can see a demo of in the project [README](https://github.com/danielgtaylor/aglio#example-output).

Yes. Some libraries exist, though we may need to write our own depending on the features we deem necessary. I'd prefer to use a

[2015-11-02 08:33] sjmueller commented on #161
@danielgtaylor this is very impressive!  Well done.  I think there are a few tweaks to make the theme a bit more modern, which I illustrate here:

![image](https://cloud.githubusercontent.com/assets/29085/10877092/e8c202e8-80f7-11e5-93a3-addeaeb6f50a.png)

* changed the the menu action icons to be more explicit, with sharper corners
* removed right padding on menu action icons
* horizontal rule to

[2015-11-02 09:56] elizabeth-young opened #188 "Data Structures in response aren't fully generated"
Hi,

Thanks for this library I have found it really useful.

After updating to version 2.2.0 I've found that my data structures are not being fully generated for responses, the updated examples also have this issue.

Previous example:
![previous response object using data structures](https://cloud.githubusercontent.com/assets/1730472/10878756/bc8e64be-8147-11e5-90dd-a4e2fdf71dec.PNG)

Version 2.2.

[2015-11-02 11:06] robbinjanssen commented on #161
Great work @danielgtaylor, love it! I suppose the attributes rendering will happen inside the GET 'boxes'.

Quick question, looks like the `--no-theme-condense` is no longer working for this template? Correct?

[2015-11-02 14:40] m-baumgartner commented on #161
@danielgtaylor Looks great with my blueprint. Only 2 notes :
* The "API Endpoint" title on the top of the right panel, can we hide it?
* The horizontal scrollbar is shown no matter how I resize my browser window. (tested on chorme 46 and safari 9).

[2015-11-02 16:41] danielgtaylor commented on #161
@sjmueller Thanks! I will try to apply some of these changes soon.

@robbinjanssen the attributes rendering will happen inside the action boxes. There's an interesting case where attributes can be defined *per request* but I think it can be handled in a similar way. Turning off condensing of the nav items still works and the option is called `--no-theme-condense-nav`. See `--help` for all the offi

[2015-11-03 09:07] robbinjanssen commented on #161
@danielgtaylor when I use that option, some of my menu items still get collapsed. Might be related to #130, but atm this is not a problem. Can't wait for the attributes rendering to happen, especially in this theme! :+1: If I have the time i'd love to contribute, since we're planning on using aglio for our apidocs!

Maybe create a new milestone where we target 3 or 4 major issues and prepare for a

[2015-11-03 10:33] Techmind commented on #146
Apiary team confirmed this is related to protogonist/drafter.js.
Reported it to apiary team.
Got this:
"Thanks for bug report. We have already fixed this on our parser's master branch. But it is taking us a bit of time to put it into production since we are still working on a major change to the parser."

[2015-11-03 11:28] aichholzer commented on #146
:+1: Eagerly waiting for this fix.

[2015-11-03 15:09] ye commented on #183
@danielgtaylor you are absolutely correct that unistall / reinstall worked! Thank you!

[2015-11-03 16:56] kpashka commented on #188
Experiencing same issue.

[2015-11-04 01:25] hwestbrook commented on #188
same issue

[2015-11-04 18:26] danielgtaylor commented on #188
@elizabeth-young @kpashka @hwestbrook thanks for reporting the issue. This is a regression in the new version of one of our dependencies, called Protagonist, which is itself a Node.js binding for Drafter. The main reason for moving to the new Protagonist is to support new upcoming features and support Node.js 4.x and 5.x. Currently, there are [several regressions being fixed](https://github.com/ap

[2015-11-04 18:43] danielgtaylor commented on #146
@aichholzer @Techmind this is now fixed in Aglio 2.2.0, but there are still some [regression issues](https://github.com/danielgtaylor/aglio/issues/188#issuecomment-153820074) that are worth mentioning. Closing this for the time being, please reopen if you find it is not working!

[2015-11-04 18:43] #146 closed

[2015-11-04 18:46] danielgtaylor commented on #155
@robbinjanssen that is a separate bug from this issue (but related). See [my comments](https://github.com/danielgtaylor/aglio/issues/188#issuecomment-153820074) about it for more of an explanation.

[2015-11-05 00:24] aichholzer commented on #146
@danielgtaylor :+1:
Thank you.

[2015-11-05 02:18] danielgtaylor commented on #188
Just a quick update on the JSON Schema support: I have quickly written a simple [JSON Schema generator](https://github.com/danielgtaylor/aglio/blob/olio-theme/src/schema.coffee) and released it in the 1.4.0 version of the default Olio theme engine. If you reinstall Aglio you will get it, and it will generate schemas from MSON. It works with the example that I ship with Aglio ([example output](http

[2015-11-05 16:00] hwestbrook commented on #188
Thanks @danielgtaylor. I plan to downgrade aglio and node until this is resolved.

[2015-11-05 19:19] danielgtaylor commented on #155
@obihann with the release of the default theme olio-1.4.0 the schema in the original issue now renders correctly. Please give it a try (see `aglio --version` and if you don't have Olio 1.4.0 reinstall Aglio).

[2015-11-06 10:57] elizabeth-young commented on #188
Thanks for the update @danielgtaylor

[2015-11-06 14:46] justinabrahms commented on #177
This milestone 1.1.0 is now closed.

[2015-11-09 09:00] jk2K opened #191 "title disappear in three column theme"
![image](https://cloud.githubusercontent.com/assets/4025839/11029561/cc532fcc-8702-11e5-875a-595c58f5d96a.png)
the title disappears when mouse move in and out ¶

[2015-11-09 09:30] jk2K opened #192 "enum syntax not work"
[code]
version:
aglio 2.2.0
olio 1.4.0

[2015-11-09 12:16] obihann commented on #155
@danielgtaylor Sorry to pass (slightly) bad news but I think we have gone one step forward and one step back. I can confirm the schema is now fixed however the actual JSON body is now broken. Here is what I'm talking about:

[code]

[code]

[code]

My [first comment](https://github.com/danielgtaylor/aglio/issues/155#issue-102161576) the results were almost the exact opposite, a valid body with an

[2015-11-09 15:49] danielgtaylor commented on #191
@jk2K I've noticed this as well. It must be some browser bug or CSS issue. I'm not sure what the problem is but will try to look into it.

[2015-11-09 16:19] danielgtaylor commented on #192
@jk2K thanks for reporting. This seems to be an upstream issue in the [Drafter](https://github.com/apiaryio/drafter) parser library.

[2015-11-09 16:27] danielgtaylor commented on #155
@obihann thanks for the feedback. The JSON Schema is fixed because I wrote a JSON Schema generator that uses Refract (rather than waiting for Drafter to be updated). The JSON body is broken due to [Drafter regressions](https://github.com/apiaryio/drafter/issues?utf8=%E2%9C%93&q=is%3Aissue+regression) which are currently being fixed. Unfortunately I can't do too much about that from within Aglio. G

[2015-11-11 00:02] danielgtaylor commented on #191
@jk2K I've just released `olio-theme-1.4.1` which fixes this, along with a few other minor issues. Please take a look.

Unfortunately I believe there is a browser bug involved and I can't track down a way to fix it. The problem occurs because of the `.content` CSS rule, which has a `position: relative;` rule in it for the three column theme. When I remove that particular rule, the titles no longer

[2015-11-11 00:02] #191 closed

[2015-11-11 02:29] danielgtaylor commented on #188
@hwestbrook @elizabeth-young please have another look, I've implemented a JSON example generator in Aglio that *should* support most features that the older Drafter did. Here is the [example blueprint](https://htmlpreview.github.io/?https://raw.githubusercontent.com/danielgtaylor/aglio/blob/master/examples/streak-triple.html#notes-note-list-get) showing both a working JSON body and JSON Schema. Le

[2015-11-11 02:30] danielgtaylor commented on #155
@obihann please install the latest (with `olio-theme-1.5.0`) and give it another try. All should be fixed now, though the [example generator](https://github.com/danielgtaylor/aglio/blob/olio-theme/src/example.coffee) doesn't support some of the more advanced features (like variable property names).

[2015-11-11 05:19] danielgtaylor commented on #192
@jk2K please try the latest olio theme 1.5.0 (you can just reinstall Aglio to get it). The rendering of enumerated types should be fixed now, and it should choose the first option for the examples. In your example above, that means you would see `"type": "avatar"` in the JSON for you example MSON above.

[2015-11-11 06:45] jk2K commented on #192
work fine, thanks

[2015-11-11 06:45] #192 closed

[2015-11-11 07:06] jk2K opened #193 "Path Segment Variable not work"
[code]
![image](https://cloud.githubusercontent.com/assets/4025839/11085830/94560188-8885-11e5-8b67-48473bbc24b4.png)

the `uuid` variable not render correctly

[2015-11-11 07:09] danielgtaylor commented on #193
@jk2K what do you expect to see instead?

[2015-11-11 07:18] jk2K commented on #193
`GET http://api.test.xmeise.com/users/8E530903-2CEC-809B-6A35-BB91BBF602A9`

use `8E530903-2CEC-809B-6A35-BB91BBF602A9` instead of `uuid` in example url

[2015-11-11 08:51] jk opened #194 "Option to disable emoticons"
I could not find an option to disable the replacement of emoticons. In my API blueprint I describe some terms like `Facet:Position…` were the `:P` gets replaced by an emoticon. I think it's obvious that this not the intended behavior. There're a couple more emoticons which were replaced.

![Screenshot of emoticons](https://dl.dropboxusercontent.com/s/vgl93ud1i6o5aa9/2015-11-11%20at%2010.02.png)

P

[2015-11-11 09:06] robbinjanssen commented on #155
@danielgtaylor I can confirm that the `olio-theme-1.5.0` update has fixed the body issues for me :) Thanks!

[2015-11-11 12:33] kylef commented on #194
@jk Perhaps it would make sense to wrap these strings in code blocks:

[code]

This would atleast provide you with a quick workaround.

[2015-11-11 12:52] hs3180 opened #195 "Parameters with no example value"
When a parameter was documented without a example value -- like
`since` in **List All Gists** from [Gist Fox API example](https://github.com/apiaryio/api-blueprint/blob/master/examples/Gist%20Fox%20API.md#list-all-gists-get) -- , aglio generated document gave `since` empty string `""` in example URI like following:

    GET /gists?since=

sometimes, I just want to set `since` or other query parame

[2015-11-11 14:03] jk commented on #194
@kylef Thanks, that's working for a workaround.

[2015-11-11 16:43] danielgtaylor commented on #193
I think this is a good idea. I'll spend a little time looking into how it would work and if there are any weird edge cases to worry about.

[2015-11-11 16:45] danielgtaylor commented on #155
Awesome! Closing this as fixed then, please let me know if there are other issues!

[2015-11-11 16:45] #155 closed

[2015-11-11 20:44] danielgtaylor commented on #194
@jk the latest release of the Olio theme (1.6.0) now provides an option to disable emoji support via `--no-theme-emoji`. Sorry about that!

[2015-11-11 20:44] #194 closed

[2015-11-11 20:53] danielgtaylor commented on #177
@obihann @justinabrahms there is now some support of nullable properties in Aglio. The generated JSON schema will show that it allows a null type. For example:

[code]

Generates

[code]

The attributes aren't shown in a nice table yet (that is underway at the moment but is quite a large task), so that's coming soon as part of #103.

[2015-11-11 20:55] danielgtaylor commented on #174
@seattlevine please have another look. The default theme `olio-theme-1.6.0` release now includes some support for `One Of` MSON members. In the generated JSON examples, the first of the `One Of` items is always chosen. In the generated JSON Schema all options are shown and limited with a "not both required" rule. Please let me know if you run into other issues!

[2015-11-11 20:55] #174 closed

[2015-11-11 20:55] danielgtaylor commented on #188
Closing as this should be fixed. Please reopen if you feel like I've missed something important!

[2015-11-11 20:55] #188 closed

[2015-11-11 21:04] danielgtaylor commented on #168
@earnaway not sure if this is still an issue, but I suggest you do the following:

1. Create a file `style.css` with the following:

[code]

2. Call Aglio like `aglio --theme-style default --theme-style style.css -i input.apib -o output.html` and then serve the resulting single file.

Let me know if that doesn't work for you! I'm going to close this issue because I do not plan to support URLs as i

[2015-11-11 21:04] #168 closed

[2015-11-11 21:42] danielgtaylor commented on #156
@benoittgt please have another look with the latest version. These issues should now be fixed!

[2015-11-11 21:42] #156 closed

[2015-11-11 21:44] danielgtaylor commented on #161
@robbinjanssen please look at #130, which has a discussion on disabling the auto-collapsing of navigation groups. The nav condensing is about turning list items with a single sublist item into just a single item in the navigation.

Okay, I'm considering this issue completed for now, since the three column theme is out and has had several of the bigger issues fixed. Please file separate bugs if you

[2015-11-11 21:44] #161 closed

[2015-11-11 21:55] benoittgt commented on #156
Thanks a lot @danielgtaylor and @zdne for the job done.

[2015-11-12 10:51] robbinjanssen opened #197 "Extended data structures are not rendered properly"
When rendering docs for the following example, the `Project` is not rendered properly in the `body`. At first I thought this was a bug, but this should be possible. See https://github.com/apiaryio/api-blueprint/issues/284

[code]

Returned `body`:

[code]

[2015-11-12 12:43] robbinjanssen commented on #197
As stated in https://github.com/apiaryio/api-blueprint/issues/284#issuecomment-156080084 a fix could be:
[code]

This should output (at least in Apiary.io):
[code]

Aglio does pick up the Include, but renders them at the bottom:

[code]

[2015-11-13 01:09] danielgtaylor commented on #197
@robbinjanssen thanks for reporting this bug - this is fantastic. I'm glad to see people seriously using MSON!

I'm going to look into fixing this as soon as I can. I've just had my wisdom teeth surgically removed (one was encased in my jaw bone) under general anesthesia so I'm pretty out of it today. Open source developers are only human, too :sweat_smile:

[2015-11-13 06:36] robbinjanssen commented on #197
Thanks @danielgtaylor, and good luck with your recovery, removing those wisdom teeth can be pretty unpleasant.

[2015-11-13 08:10] robbinjanssen commented on #103
@danielgtaylor It might be worth checking out https://github.com/apiaryio/attributes-kit (Or has this been your plan all along? ;))

[2015-11-13 20:36] danielgtaylor commented on #103
@robbinjanssen that has been the plan for a while, but was only publicly announced this week :wink:

I've been talking to the developers of Attributes Kit and there are a few important features we need to address before I can ship it in Aglio, but otherwise things are moving along nicely!

[2015-11-13 20:42] danielgtaylor commented on #195
@hs3180 can you explain what the problem with showing this in the example URL is? Do you think users will think that the parameter is required even though it isn't listed as being required? Have you considered just setting the example value to the server's default value so that users will know what to expect if they don't set it? I'm just trying to understand whether this is something that should

[2015-11-13 20:49] danielgtaylor commented on #197
@robbinjanssen please try olio-theme-1.6.1 which should fix these issues. Both your examples should now work properly and both the example and schema generator now use the new inheritance implementation. Please let me know if I've missed any other common use cases for MSON structures!

[2015-11-13 20:49] #197 closed

[2015-11-13 20:49] danielgtaylor commented on #193
@jk2K this should now be implemented in the olio-theme-1.6.1 release. Please take a look and let me know what you think. If no sample value is available, then the parameter name will continue to be used as it is today.

[2015-11-13 20:49] #193 closed

[2015-11-14 06:40] hs3180 commented on #195
@danielgtaylor
I want to document a facebook-style pagination resource like

    "paging": {
      "cursors": {
        "after": "MTAxNTExOTQ1MjAwNzI5NDE=",
        "before": "NDMyNzQyODI3OTQw"
      },
      "previous": "https://graph.facebook.com/me/albums?limit=25&amp;before=NDMyNzQyODI3OTQw"
      "next": "https://graph.facebook.com/me/albums?limit=25&amp;after=MTAxNTExOTQ1MjAwNzI5NDE="
    }

[2015-11-15 14:04] jk2K commented on #193
work fine, thanks

[2015-11-15 16:53] robbinjanssen commented on #197
Can confirm that 1.6.1 fixes the problem! Thanks @danielgtaylor, great work!

[2015-11-16 08:02] tsouvarev commented on #140
@robbinjanssen Regarding default option label: imagine `order_by` parameter with multiple values, like `order_by=id,name`. If you put just labels in table, it would be uncertain, what defauilt value actually is

[2015-11-16 14:43] obihann commented on #155
Hey @danielgtaylor sorry for the delay but I can confirm as well this fixed the issue I originally reported. Thanks a lot!

[2015-11-16 23:08] coderdave commented on #183
Using Node.js 5.0.0, uninstall/reinstall did not work for me. Still getting:
module.js:450
  return process.dlopen(module, path._makeLong(filename));

[2015-11-17 03:52] josefguenther commented on #136
Unfortunately I have the same problem. It will work great on smaller files -- but after a certain size (11-15kb) it will become spotty and then another few kb and it will never work. It also appears it might be related to the number of lines -- 500-600 or so. Or the number of sections. I can literally have code AB or code AC but not code ABC together.

I played around and just cannot find a patter

[2015-11-17 18:30] danielgtaylor commented on #136
@josefguenther can you run with:

[code]

Also, what version of Aglio and Olio do you have (use `--version` to see) and is it only on one OS or multiple? E.g. if it's happening on Windows can you test the same input on a Linux VM? If you have an input that consistently fails please let me know.

[2015-11-17 18:34] danielgtaylor commented on #183
@coderdave make sure you are uninstalling/installing in the right location (e.g. with `-g` for a global install) and make sure that `npm` and `node` are from the same install (e.g. mine are both in `/usr/local/bin/...`). After that, let me know if it's still an issue. Worst case you should be able to do a local install (without `-g`) and run with `./node_modules/.bin/aglio` to confirm it can work.

[2015-11-17 18:58] josefguenther commented on #136
See attached file. This is under windows 8 pro x64.

I tried it on my ubuntu VM and it compiled with no problems. So thanks for that tip at least now I can compile my stuff :)

![windows](https://cloud.githubusercontent.com/assets/1220566/11221403/2aabc564-8d22-11e5-9a51-9f89f53ad12e.png)

[2015-11-17 19:17] coderdave commented on #183
Reinstalling it globally seemed to work. Thanks.

[2015-11-18 01:45] iJebus commented on #136
Just an fyi that I'm seeing similar behaviour on an Ubuntu 14.04 x64 VM running under El Capitan while using the live preview server. Aglio/olio is 2.2.0/1.6.1 respectively.

Similar situation to @hperantunes in that I'm including other files; however I tested if it was still an issue when I excluded all but one, and it still occurred at the same frequency. Note that it's the file that was just sa

[2015-11-18 02:31] iJebus commented on #136
Okay so clarifying my last point on the HTML, my current theory is that maybe the HTML is being created before the template has finished generating..? I'm not sure if that's actually applicable in how Aglio works so I could be way off.

The thing is, most commonly I see either the entire file included or not at all, but occasionally I'll see a partial return on the template. Noticing and thinking

[2015-11-18 02:37] iJebus commented on #136
For example, all three images below are seen from just saving the same file without making any changes.

Entire include missing
![screen shot 2015-11-18 at 10 33 21 am](https://cloud.githubusercontent.com/assets/5284181/11231058/daa2c4be-8ddf-11e5-9cf9-effecb8a341f.png)

Partial include missing
![screen shot 2015-11-18 at 10 32 48 am](https://cloud.githubusercontent.com/assets/5284181/11231057/da9

[2015-11-18 09:56] aurelienappere commented on #103
:+1: Thanks @danielgtaylor for your amazing work!
Can't wait the next update with attributes rendering improvement as mentioned by @ndonald2 and @benoittgt !

[2015-11-20 10:55] Owumaro opened #198 "`text-overflow: ellipsis` hides the end of the URI"
Hi

I'm using aglio 2.2.0/olio 1.6.2.

I'm writing an API documentation involving URIs with a lot of parameters. The issue is that the URI template is cut by the css property `text-overflow: ellipsis`, which makes it difficult to read.

Here is an example using the `streak` theme with the 3-column layout :
![capture du 2015-11-20 11 51 50](https://cloud.githubusercontent.com/assets/5205295/1129810

[2015-11-26 14:47] JanStevens commented on #155
Still having this issue on version (aglio 2.2.0 / olio 1.6.2):

[code]

Generates following JSON Body
[code]

[2015-11-26 17:10] ducin opened #201 "error installing aglio on windows7"
Hello All,

Although being a linux fan, my company's requirement is to work under windows. I'm trying to install agliounder windows and I'm failing with it:

[code]

I can see that agliois trying to use something like MSBUILD, which - as I found in www - is related to MS Visual Studio. My questions are:
* am I doing something wrong? Maybe I need to install something prior to aglio?
* is there any

[2015-11-27 19:33] Skeen commented on #96
+1

[2015-11-27 19:46] Skeen commented on #177
+1

[2015-11-28 05:10] jaykwon commented on #201
@ducin I was able to get past this using VS 2015. I *did*, however, have to start a new C++ project so that the appropriate tools were installed.

You can see more about this in `node-gyp` here: https://github.com/nodejs/node-gyp/issues/694

[2015-11-28 13:58] ducin commented on #201
@jaykwon thx for your input. The problem is, however, that I don't have VS and I'm not going to have it. In fact, it's the corporate institution I'm working for - they won't decide to buy MSVS only to get aglio up and running.

As far as I understand, aglio requires some API-blueprint component that needs to be compiled. Maybe there's an alternative compiler for windows that is not VS-dependent? O

[2015-11-30 08:37] Lambik commented on #7
Yes, I would want to write my API doc in many different languages, translated possibly by a professional translator. Google translate sucks.

As for the template translations: either option is fine specified by @ChristianUlbrich is fine, as right now there is none.

[2015-11-30 10:49] JanStevens opened #202 "Show context when printing warnings"
Hello,

When using include tags the warnings don't reference the included file but rather the concated result. For example my main api has just 4 include tags and I have a warning on line 504. I now have no clue where to look.

I've created a [PR](https://github.com/nnnnathann/gulp-aglio/pull/10) for the `gulp-aglio` package that does include the context of the error. I think this should be added

[2015-11-30 11:11] robbinjanssen opened #203 "Olio-theme cannot display empty strings as example value"
I've noticed that the `olio-theme` uses custom [defaultValues](https://github.com/danielgtaylor/aglio/blob/olio-theme/src/example.coffee#L23) if no example value is provided, but for some of my markdown I want an empty string as an example value. For example in the an optional description value.

I've tried the following use cases
#### Empty string in backticks

[code]

[code]
#### A space as exam

[2015-12-07 18:29] danielgtaylor commented on #198
Thanks for reporting. I'm not sure what to do here - probably need to let it scroll or wrap but still have it look decent.

[2015-12-07 20:58] danielgtaylor commented on #201
@ducin really sorry to hear you are having issues. Please have a look at the new experimental pure Javascript version of Drafter:

https://github.com/apiaryio/drafter#drafterjs

That could be used instead of Protagonist in Aglio to parse the blueprints, which in turn means no more C++ to compile. In the future I hope to provide it as a fallback for those environments where compiling is difficult o

[2015-12-07 20:59] danielgtaylor commented on #202
Love it! We should definitely add this.

[2015-12-09 14:36] pksunkara commented on #155
Hey, The correct syntax is:

[code]

[2015-12-09 18:08] danielgtaylor commented on #155
@JanStevens see the comment above ^

[2015-12-10 10:24] swamikevala commented on #201
I'm also having the same problem with Windows installation. Could you provide step by step instructions how we can replace Protagonist with Drafter. Many Thanks!

[2015-12-10 18:15] #202 closed

[2015-12-10 22:22] pomber commented on #127
I think this issue is related to the file encoding (at least for me).
I have two files with same markdown and different encoding, one fails and the other doesn't.
Can I upload attach files to the issue?

[2015-12-15 16:04] benoittgt commented on #103
Does the [last update](https://github.com/apiaryio/api-blueprint/issues/191#issuecomment-155796626) and specially [attributes-kit](https://github.com/apiaryio/attributes-kit) help to resolve this ticket ? I don't how much each components speak to each other, and how they should help to resolve this issue.

Thanks @danielgtaylor

[2015-12-16 17:31] josefguenther commented on #136
@iJebus I think your problem is different and you should open a new issue.

The problem here is that NOTHING, no output file at all, gets generated. And there is no program output either. And it appears to be a Windows problem.

Any further word on this issue?

[2015-12-16 19:29] AlexZeitler opened #205 "UriTemplate + query params not rendered correctly"
I tried to use this template:

```### Get Configuration [GET /configuration{?color}]```

I would expect something like this:

```http://expample.org/configuration{?color} ```

But the result is

```http://expample.org/configuration ```

[2015-12-17 02:01] evnm commented on #149
This feature would be great. I have a use case where I collect a set of API documentation into a PDF by generating static HTML and then running the HTML through [wkhtmltopdf](http://wkhtmltopdf.org/). By default, request/response panels are hidden in the produced PDFs.

I'm currently doing `s/collapse-button"/collapse-button show"/g` on the HTML output by aglio. I'd love to remove this hack in fav

[2015-12-17 10:12] jenssegers commented on #186
:+1:

[2015-12-18 21:30] danielgtaylor commented on #201
@swamikevala I'm working on integrating it into Aglio over the next few weeks, so hopefully this should become a non-issue shortly.

[2015-12-18 21:40] danielgtaylor commented on #103
@benoittgt they do help! Attributes Kit is getting to the point where we can start using it in Aglio soon, but there are a few issues and open questions around theming to resolve first!

[2015-12-18 21:42] danielgtaylor commented on #136
I'm still investigating the issue, though I'm still not sure what exactly is causing it. First, I'm working on making sure we don't swallow errors anywhere.

[2015-12-18 21:44] danielgtaylor commented on #205
@AlexZeitler did you also document the parameter? For example:

[code]

Aglio filters out any undocumented parameters, letting you put all possible parameters in the resource URI template and documenting the relevant parameters in each action.

[2015-12-18 21:46] danielgtaylor commented on #127
@pomber that would be fantastic. Either upload them here or on something like Dropbox and give us the link! What are the file encodings that are not working?

[2015-12-18 22:22] AlexZeitler commented on #205
@danielgtaylor Thanks, I forgot to document the parameter. No it works as expected. :+1:

[2015-12-18 22:22] #205 closed

[2015-12-19 01:19] hperantunes commented on #136
Thanks for looking into this, @danielgtaylor. As other people have mentioned, the issue happens when the files are big. My APIs have 100+ endpoints.

[2015-12-21 14:57] pomber commented on #127
According to Notepad++, one file has encoding UTF8 and the other UTF8 without BOM.
In my case, I think the enccoding was changed by Visual Studio 2012.

[2016-01-01 00:22] cmodzelewski opened #207 "Valid API Blueprint generates "Error: Error parsing input: unknown type of mson value""
I've created a relatively large API Blueprint (approx. 160 Kb, 4359 lines of code) which is displaying in Apiary.io's editor as a "Valid document". The Apiary.io documentation is generating as intended.

However, when I attempt to run aglio using the command:
`aglio --verbose -i input.apib -o output.html`

or

`aglio --verbose -i input.apib -o output.html BENCHMARK=1 NOCACHE=1`

I receive an error

[2016-01-01 00:46] cmodzelewski commented on #207
Further exploration (section-by-section testing with my input file) seems to have identified the problem:

[code]

[2016-01-03 20:05] zdne commented on #207
Hey @cmodzelewski I am not sure but this could be the issue in the API Blueprint parser – [Drafter](https://github.com/apiaryio/drafter) or its binding [Protagonist](https://github.com/apiaryio/protagonist). Note the Apiary.io is currently using an older version.

Best to check with the latest Protagonist or Drafter (using as CLI tool or via Sublime Text / Atom plugin). If you believe this is a bu

[2016-01-03 20:06] zdne commented on #207
Note I am currently aware of at least one issue in the drafter related to circular references and @klokane is working on it. @klokane is the circular references issues tracked on GitHub (where?)

[2016-01-04 10:55] truebit opened #208 "parameter description is not showed up when it contains other parameters names"
example below:
## add coupon to single user [GET /couponagent/addCoupon{?userid,discount_money,limit_money}]
+ Parameters
    * userid: `101649899` (number,required) - userid
    * discount_money: `1.01` (number,required) - money amout to be discounted
    * limit_money: `-1` (number,required) - -1 represents (discount_money+1) could be used

argument `limit_money` description includes argument na

[2016-01-04 12:10] zdne commented on #208
@truebit seems like this is relevant to https://github.com/apiaryio/drafter/issues/123

[2016-01-04 14:03] Lambik commented on #103
+1 for this update, right now it's either "write full attributes" or "don't have the explanations in the data structures" (not using beta)

[2016-01-05 00:59] fkrauthan commented on #150
It would be nice to see the broken line on a error like ">> Line 204: ignorning unrecognized block (warning code 5)" Because line 204 does not exist since I use the "" syntax.

[2016-01-05 09:26] netmikey opened #209 "Trailing slahes in endpoint URIs are discarded"
I want to document an existing API with API Blueprint and generate static HTML using aglio. The API uses trailing slashes on all endpoints, but aglio removes them in the generated documentation.
I don't mean to start a discussion whether trailing slashes are a good idea, I just think the API doc-tool shouldn't be opinionated in this regard and just output exacly what I'm telling it ;-)

Example in

[2016-01-05 16:45] fkrauthan opened #210 "Response attributes and custom body not working"
When I have a response definition with Attributes and custom body it is ignoring the custom body.

E.g.

[code]

It displays the example generated based on the attributes. Can we please let a custom defined response body win over the auto generated example? Or do I do something wrong?

[2016-01-06 04:19] jordan-wright commented on #136
I'm having a similar issue. I'm using aglio via Docker. Here are the versions:

[code]

I'm using the following command (docs are in the ```/root/api-docs/``` folder):

[code]

Specifically, the issue seems to be that, even with ```--verbose```, I only see "Loading theme default" with no output being generated. I have confirmed that with sample files (like ```coupons.apib```), the command works as

[2016-01-06 09:18] bitnumus opened #211 "Can't install on ubuntu 14.04"
Hi, the docs here do not give any information on package versions and such, and it seems this is important. I'm just getting streams of errors when installing on ubuntu, i've installed nodejs from the latest PPAs using "curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -"

What should i be doing?

I won't paste all my logs, they are full with things like:

warning: ‘auto_ptr’ is depreca

[2016-01-06 09:32] shaun-ba commented on #211
.

[2016-01-06 09:32] #211 closed

[2016-01-06 13:11] bitnumus opened #212 "Overview section, can't see it in example blueprint?"
in the examples there are "Overview" sections, but i can't see this anywhere in the example.apib markdown?

I have the title etc, but don't have the menu item, and i think the menu item is good/needed.

[2016-01-06 17:23] josefguenther commented on #136
Update from my end: I installed/reinstalled windows 10 for unrelated reasons and now it works using the same code I had before. So it was never a syntax error or other problem with the blueprint code. Just an FYI.

[2016-01-06 17:59] wadey opened #213 "Segmentation fault when more than 16 data structures"
I am experiencing a segmentation fault when I try to process a file with more than 16 data structures. This is using Node v4.2.4 and the latest version of aglio 2.2.0 and protagonist 1.2.3.

The example file, the gdb backtrace and full `npm ls` details are attached to this gist:

- https://gist.github.com/wadey/c16ea2040d3aeecd8e77

If you reduce the test file from 17 data structures to 16 data st

[2016-01-07 04:05] jordan-wright commented on #213
:+1: I'm having the same exact issue. My .apib has 21 data structures, so aglio is failing with a segmentation fault.

It looks like it might have to do with ```drafter```?

[2016-01-07 04:18] jordan-wright commented on #213
Confirmed this looks to be protagonist parsing that is causing this issue. I filed an issue on their project for this.

[2016-01-07 05:36] w-vi commented on #213
Cheers @jordan-wright . Please follow  drafter issue https://github.com/apiaryio/drafter/issues/207 as this is the same bug, once drafter is fixed the protagonist will be fixegd as well.

[2016-01-07 23:05] danielgtaylor commented on #201
It turns out this is a bit more complicated than I originally envisioned. The newer Drafter and Drafter.js generate their own JSON schemas that don't support all the features that the internal generator in Aglio does, and there is no way to tell when a schema is user-supplied or generated by Drafter unless I use source maps and Refract output. That requires changing all of Aglio over to the new Re

[2016-01-08 08:45] truebit commented on #194
Now there is only option in help message with `--theme-emoji`, it cannot make users got the `--no-theme-emoji` idea.
Maybe in help message, we should say that there is a `--no-theme-emoji` whose default value is `false`

[2016-01-08 15:23] PavelPolyakov commented on #149
This would be great, just tried to search for it.

[2016-01-11 14:56] pavelkornev commented on #201
I have same issue on OSX 10.11, npm 3.5.2, node 5.3.0

I have reported in [patagonist issue tracker](https://github.com/apiaryio/protagonist/issues/73#issuecomment-170573924), but it seems they have this issue [since **April 2014**](https://github.com/apiaryio/protagonist/issues/18) !! Looks that they are not going to fix it or they simply don't know how.

[2016-01-11 15:42] aichholzer opened #214 "Protagonist 1.2.4 is broken"
Not sure who can fix the issue faster but, in the meantime, this

[code]

should be change to:

[code]

`Drafter` is missing in the current protagonist version, thus the install will fail.
See http://ab.je/8a

[2016-01-11 15:58] kylef commented on #214
Resolved by [protagonist 1.2.5](https://github.com/apiaryio/protagonist/releases/tag/v1.2.5).

[2016-01-11 15:58] #214 closed

[2016-01-11 16:21] wuotr commented on #201
I have the same issue on OSX 10.11, npm v2.14.9 and node v0.12.9. :-S.

[2016-01-11 19:06] pavelkornev commented on #201
@wuotr they have just released [protagonist 1.2.5](https://github.com/apiaryio/protagonist/issues/73#issuecomment-170596267) which fixed bug on my system and aglio works like a sharm at this moment.

[2016-01-12 08:29] wuotr commented on #201
Indeed... it is fixed on my system as well ;-). /cc @pavelkornev

[2016-01-12 08:30] ducin commented on #201
How about windows users? Did anyone manage to make aglio up and running on any version of windows?

[2016-01-12 09:24] sangar82 commented on #186
+1

[2016-01-12 14:35] PavelPolyakov opened #215 "Type Attributes List support"
Hi,

Here is a part of my API blueprint "code":

[code]

I use Type Definition, according to this doc: https://github.com/apiaryio/mson/blob/master/MSON%20Specification.md#35-type-definition .

However, when generated it looks like this in aglio-generated html.
![image](https://cloud.githubusercontent.com/assets/839290/12266193/1885d18a-b942-11e5-9e14-4d592003ab72.png)

I think it should put ```fa

[2016-01-12 14:52] kylef commented on #215
@PavelPolyakov I don't think that's the correct syntax to define a sample value. There is no mention of it in the [MSON Specification](https://github.com/apiaryio/mson/blob/master/MSON%20Specification.md).

You can define a sample value as:

[code]

[2016-01-12 14:59] PavelPolyakov commented on #215
@kylef

Thanks, but it generates the same.

In the MSON docs it's stated the next:
![image](https://cloud.githubusercontent.com/assets/839290/12266734/158fcb18-b945-11e5-8623-f56c32a783e3.png)

Which leads to the next description:
![image](https://cloud.githubusercontent.com/assets/839290/12266747/2d86e4f4-b945-11e5-98fc-6c3ec2fa02ac.png)

So it looks, that ```sample``` is a valid attribute.

Anyh

[2016-01-12 15:34] zdne commented on #215
@PavelPolyakov

It is. But it is an alternative to using the sample keyword or, in most cases the italics. E.g. the following ar equivalent.

[code]

[2016-01-12 16:37] wadey commented on #213
This was fixed by protagonist 1.2.4: https://github.com/apiaryio/protagonist/issues/116

Re-installing aglio so that it fetches the latest version of protagonist is all that is necessary to fix this issue on the aglio side.

[2016-01-12 16:37] #213 closed

[2016-01-12 17:23] PavelPolyakov commented on #215
@zdne

Thanks for the explanation. Does that mean, that, in theory, all of three methods should lead to the correct sample value?

Can we then update this issue to the bug instead of the question?

[2016-01-12 17:38] kylef commented on #215
I've checked the parser and it seems that it is correctly returning true or false for sample values. @danielgtaylor does Aglio do something to these bodies?

##### true sample

[code]

Parsed Refract Body:

[code]

##### false sample

[code]

Parsed Refract Body:

[code]

[2016-01-13 15:50] pavelkornev opened #216 "Do you have plans to support extendable params in UI?"
I mean something like this - https://github.com/apiaryio/api-blueprint/issues/191#issuecomment-155796626

[2016-01-13 15:59] PavelPolyakov opened #217 "aglio's includes - option to generate new full API blueprint document"
Hi,

aglio supports it's own ```include``` format:
https://github.com/danielgtaylor/aglio#including-files

It's good, because it allows us to separate the blueprint document.

However, most of the API blueprint software does not support this format.
For example, mock server generator https://github.com/Aconex/drakov , expect to have everything in one file.

Is there an option to be able to export

[2016-01-13 16:32] danielgtaylor commented on #217
@PavelPolyakov there is an option for this, called `compile`:

[code]

Please let me know if it isn't working!

[2016-01-13 16:35] danielgtaylor commented on #127
@pomber this is useful thanks. Aglio is assuming `utf8` input - so maybe this is part of the issue. I'm not sure what needs to be done to fix it, but I can try some samples. Any idea how to generate a file with and without the BOM?